openapi: 3.0.1
info:
  title: 'Common Service Model API: SalesOrder'
  description: The Common Service Model (CSM) API for the SalesOrder Resource
  termsOfService: https://{env}.api-v1.{locale}.vodafone.com/enterprise-resources/terms
  contact:
    name: Vodafone Group Integration Domain
    url: https://workspace.vodafone.com/group/GID/SitePages/Home.aspx
  license:
    name: Vodafone Licence 1.0
    url: https://workspace.vodafone.com/group/GID/SitePages/Home.aspx
  version: 4.0.0
externalDocs:
  description: Service Specifications, please reference for  a business description,
    data definition and detailed information on API behaviour and specific response
    codes.
  url: https://workspace.vodafone.com/group/GID/SitePages/Home.aspx
servers:
- url: https://api.vodafone.com/{access}/salesOrderAPI/v4
tags:
- name: salesOrder
  description: A Sales Order is the mechanism allowing a customer to order products
    / services. These products and services are made available to the customer as
    Product Offerings. A Sales Order can also contain an order to stop a Subscription
    to an existing product or instructions to modify it in some way. Additionally;
    things like SIM swap; and service configuration changes may be included on a Sales
    Order. A Sales Order line item therefore will have a Create action for Product
    Offerings and a Delete or Modify action for Products; Resources and Services
- name: hub
  description: Publish/subscriber register/unregister controll hub.
- name: home
  description: Home entry point for the SalesOrder API
paths:
  /home:
    get:
      tags:
      - home
      description: The home operation provides an API endpoint to retrieve the links
        to the customer Bill resource from the server. The resource to retrieve is
        identified in the URL of the HTTP request
      operationId: homeGet
      responses:
        200:
          description: 200, OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_links'
        206:
          description: 206, Partial Content.
          headers:
            Content-Range:
              description: The range of bytes the server returns
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_links'
        400:
          description: 400, Bad Request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        404:
          description: 404, Not Found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        405:
          description: 405, Method Not Allowed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        500:
          description: 500, Internal Server Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        default:
          description: An unexpected fault occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
  /salesOrder:
    get:
      tags:
      - salesOrder
      description: A method that allows a consumer of the API to get-list a SalesOrder
        representation.
      operationId: getList
      parameters:
      - name: id
        in: query
        description: The identifier of the Sales Order to search for, configured as
          the $.ids[0].$ value in the business object.
        schema:
          type: string
      - name: billingAccountId
        in: query
        description: Identifies the billing Account from the Customer that is associated
          with the Sales Order.
        schema:
          type: string
      - name: customerId
        in: query
        description: Identifies the Customer that is associated with the Sales Order.
        schema:
          type: string
      - name: customerAccountId
        in: query
        description: Identifies the Customer Account from the Customer that is associated
          with the Sales Order.
        schema:
          type: string
      - name: created
        in: query
        description: Identifies the Sales Order based on the creation Date/Time.
        schema:
          type: string
      - name: productId
        in: query
        description: Identifies the Sales Order based on the id of the product being
          ordered.
        schema:
          type: string
      - name: productName
        in: query
        description: Identifies the Sales Order based on the name of the product being
          ordered.
        schema:
          type: string
      - name: fields
        in: query
        description: The field filters on the response attributes is enabled on all
          attributes, specified by ?fields=id,name,desc. Always the first query parameter.
        schema:
          type: string
      - name: offset
        in: query
        description: This limits the queries allowed to supporting AND only, equality
          matching for the operator code and simple naming of the parameters themselves.
        schema:
          type: integer
      - name: count
        in: query
        description: The total number of resources found on the server that matched
          the query parameters.
        schema:
          type: integer
      - name: sort
        in: query
        description: 'Supports sorting. The field and direction on which to sort the
          returned set of Customer Party. '
        schema:
          type: string
      responses:
        200:
          description: 200, OK.
          headers:
            X-Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
            X-Rate-Limit-Reset:
              description: The number of seconds left in the current period
              schema:
                type: integer
            X-Total-Count:
              description: The total number of resources found on the server that
                matched the query parameters.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/salesOrderVBO'
        204:
          description: 204, No Content.
          content: {}
        206:
          description: 206, Partial Content.
          headers:
            Content-Range:
              description: The range of bytes the server returns
              schema:
                type: string
            X-Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
            X-Rate-Limit-Reset:
              description: The number of seconds left in the current period
              schema:
                type: integer
            X-Total-Count:
              description: The total number of resources found on the server that
                matched the query parameters.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/salesOrderVBO'
        400:
          description: 400, Bad Request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        404:
          description: 404, Not Found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        405:
          description: 405, Method Not Allowed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        500:
          description: 500, Internal Server Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        default:
          description: An unexpected fault occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
    post:
      tags:
      - salesOrder
      description: A method that allows a consumer of the API to create a SalesOrder
        representation.
      operationId: create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/salesOrderVBO'
        required: true
      responses:
        200:
          description: 200, OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/salesOrderVBO'
        201:
          description: 201, Created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/salesOrderVBO'
        202:
          description: 202, Accepted.
          content: {}
        204:
          description: 204, No Content.
          content: {}
        400:
          description: 400, Bad Request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        404:
          description: 404, Not Found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        405:
          description: 405, Method Not Allowed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        409:
          description: 409, Conflict.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        500:
          description: 500, Internal Server Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        default:
          description: An unexpected fault occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
      x-codegen-request-body-name: salesOrder
  /salesOrder/{id}:
    get:
      tags:
      - salesOrder
      description: A method that allows a consumer of the API to get a SalesOrder
        representation.
      operationId: get
      parameters:
      - name: id
        in: path
        description: The primary ID for the resource
        required: true
        schema:
          type: string
      - name: fields
        in: query
        description: The field filters on the response attributes is enabled on all
          attributes, specified by ?fields=id,name,desc. Always the first query parameter.
        schema:
          type: string
      responses:
        200:
          description: 200, OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/salesOrderVBO'
        206:
          description: 206, Partial Content.
          headers:
            Content-Range:
              description: The range of bytes the server returns
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/salesOrderVBO'
        400:
          description: 400, Bad Request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        404:
          description: 404, Not Found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        405:
          description: 405, Method Not Allowed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        500:
          description: 500, Internal Server Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        default:
          description: An unexpected fault occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
    put:
      tags:
      - salesOrder
      description: A method that allows a consumer of the API to update a SalesOrder
        representation.
      operationId: updateReplace
      parameters:
      - name: id
        in: path
        description: The primary ID for the resource
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/salesOrderVBO'
        required: true
      responses:
        200:
          description: 200, OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/salesOrderVBO'
        202:
          description: 202, Accepted.
          content: {}
        204:
          description: 204, No Content.
          content: {}
        400:
          description: 400, Bad Request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        404:
          description: 404, Not Found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        405:
          description: 405, Method Not Allowed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        409:
          description: 409, Conflict.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        500:
          description: 500, Internal Server Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        default:
          description: An unexpected fault occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
      x-codegen-request-body-name: salesOrder
    delete:
      tags:
      - salesOrder
      description: A method that allows a consumer of the API to delete a SalesOrder
        representation.
      operationId: delete
      parameters:
      - name: id
        in: path
        description: The primary ID for the resource
        required: true
        schema:
          type: string
      responses:
        200:
          description: 200, OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/salesOrderVBO'
        202:
          description: 202, Accepted.
          content: {}
        204:
          description: 204, No Content.
          content: {}
        400:
          description: 400, Bad Request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        404:
          description: 404, Not Found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        405:
          description: 405, Method Not Allowed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        500:
          description: 500, Internal Server Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        default:
          description: An unexpected fault occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
    patch:
      tags:
      - salesOrder
      description: A method that allows a consumer of the API to update a SalesOrder
        representation.
      operationId: updatePartial
      parameters:
      - name: id
        in: path
        description: The primary ID for the resource
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/patch'
        required: true
      responses:
        200:
          description: 200, OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/salesOrderVBO'
        202:
          description: 202, Accepted.
          content: {}
        204:
          description: 204, No Content.
          content: {}
        400:
          description: 400, Bad Request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        404:
          description: 404, Not Found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        405:
          description: 405, Method Not Allowed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        409:
          description: 409, Conflict.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        412:
          description: 412, Precondition Failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        500:
          description: 500, Internal Server Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        default:
          description: An unexpected fault occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
      x-codegen-request-body-name: salesOrder
  /salesOrder/{id}/billToPartyParty/{partyId}:
    get:
      tags:
      - salesOrder
      description: A method that allows a consumer of the API to get the Requestor
        role component of the VBO.
      operationId: getBillToPartyParty
      parameters:
      - name: id
        in: path
        description: The identifier of the Sales Order to search for, configured as
          the $.ids[0].$ value in the business object.
        required: true
        schema:
          type: string
      - name: partyId
        in: path
        description: The primary ID for the Bill To Party role component of the resource
        required: true
        schema:
          type: string
      - name: fields
        in: query
        description: The field filters on the response attributes is enabled on all
          attributes, specified by ?fields=id,name,desc. Always the first query parameter.
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/salesOrderVBOBillToParty'
        206:
          description: 206, Partial Content.
          headers:
            Content-Range:
              description: The range of bytes the server returns
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/salesOrderVBOBillToParty'
        400:
          description: 400, Bad Request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        404:
          description: 404, Not Found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        405:
          description: 405, Method Not Allowed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        500:
          description: 500, Internal Server Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        default:
          description: An unexpected fault occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
  /salesOrder/{id}/billingAccount/{accountId}:
    get:
      tags:
      - salesOrder
      description: A method that allows a consumer of the API to get the billing Account
        component of the VBO.
      operationId: getBillingAccount
      parameters:
      - name: id
        in: path
        description: The identifier of the Sales Order to search for, configured as
          the $.ids[0].$ value in the business object.
        required: true
        schema:
          type: string
      - name: accountId
        in: path
        description: The primary ID for the Billing Account component of the resource
        required: true
        schema:
          type: string
      - name: fields
        in: query
        description: The field filters on the response attributes is enabled on all
          attributes, specified by ?fields=id,name,desc. Always the first query parameter.
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/salesOrderVBOBillingAccount'
        206:
          description: 206, Partial Content.
          headers:
            Content-Range:
              description: The range of bytes the server returns
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/salesOrderVBOBillingAccount'
        400:
          description: 400, Bad Request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        404:
          description: 404, Not Found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        405:
          description: 405, Method Not Allowed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        500:
          description: 500, Internal Server Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        default:
          description: An unexpected fault occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
  /salesOrder/{id}/customerAccount/{accountId}:
    get:
      tags:
      - salesOrder
      description: A method that allows a consumer of the API to get the Customer
        Account component of the VBO.
      operationId: getCustomerAccount
      parameters:
      - name: id
        in: path
        description: The identifier of the Sales Order to search for, configured as
          the $.ids[0].$ value in the business object.
        required: true
        schema:
          type: string
      - name: accountId
        in: path
        description: The primary ID for the Customer Account component of the resource
        required: true
        schema:
          type: string
      - name: fields
        in: query
        description: The field filters on the response attributes is enabled on all
          attributes, specified by ?fields=id,name,desc. Always the first query parameter.
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/salesOrderVBOCustomerAccount'
        206:
          description: 206, Partial Content.
          headers:
            Content-Range:
              description: The range of bytes the server returns
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/salesOrderVBOCustomerAccount'
        400:
          description: 400, Bad Request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        404:
          description: 404, Not Found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        405:
          description: 405, Method Not Allowed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        500:
          description: 500, Internal Server Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        default:
          description: An unexpected fault occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
  /salesOrder/{id}/customerAgreement/{agreementId}:
    get:
      tags:
      - salesOrder
      description: A method that allows a consumer of the API to get the Customer
        Agreement component of the VBO.
      operationId: getCustomerAgreement
      parameters:
      - name: id
        in: path
        description: The identifier of the Sales Order to search for, configured as
          the $.ids[0].$ value in the business object.
        required: true
        schema:
          type: string
      - name: agreementId
        in: path
        description: The primary ID for the Customer Agreement component of the resource
        required: true
        schema:
          type: string
      - name: fields
        in: query
        description: The field filters on the response attributes is enabled on all
          attributes, specified by ?fields=id,name,desc. Always the first query parameter.
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/salesOrderVBOCustomerAgreement'
        206:
          description: 206, Partial Content.
          headers:
            Content-Range:
              description: The range of bytes the server returns
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/salesOrderVBOCustomerAgreement'
        400:
          description: 400, Bad Request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        404:
          description: 404, Not Found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        405:
          description: 405, Method Not Allowed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        500:
          description: 500, Internal Server Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        default:
          description: An unexpected fault occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
  /salesOrder/{id}/fulfilmentOrder/{orderId}:
    get:
      tags:
      - salesOrder
      description: A method that allows a consumer of the API to get the Fulfilment
        Order component of the VBO.
      operationId: getFulfilmentOrder
      parameters:
      - name: id
        in: path
        description: The identifier of the Sales Order to search for, configured as
          the $.ids[0].$ value in the business object.
        required: true
        schema:
          type: string
      - name: orderId
        in: path
        description: The primary ID for the Fulfiment Order component of the resource
        required: true
        schema:
          type: string
      - name: fields
        in: query
        description: The field filters on the response attributes is enabled on all
          attributes, specified by ?fields=id,name,desc. Always the first query parameter.
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/salesOrderVBOFulfilmentOrder'
        206:
          description: 206, Partial Content.
          headers:
            Content-Range:
              description: The range of bytes the server returns
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/salesOrderVBOFulfilmentOrder'
        400:
          description: 400, Bad Request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        404:
          description: 404, Not Found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        405:
          description: 405, Method Not Allowed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        500:
          description: 500, Internal Server Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        default:
          description: An unexpected fault occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
  /salesOrder/{id}/productOffering/{productId}:
    get:
      tags:
      - salesOrder
      description: A method that allows a consumer of the API to get the Product Offering
        component of the VBO.
      operationId: getProductOffering
      parameters:
      - name: id
        in: path
        description: The identifier of the Sales Order to search for, configured as
          the $.ids[0].$ value in the business object.
        required: true
        schema:
          type: string
      - name: productId
        in: path
        description: The primary ID for the Product Offering component of the resource
        required: true
        schema:
          type: string
      - name: fields
        in: query
        description: The field filters on the response attributes is enabled on all
          attributes, specified by ?fields=id,name,desc. Always the first query parameter.
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/salesOrderVBOProductOffering'
        206:
          description: 206, Partial Content.
          headers:
            Content-Range:
              description: The range of bytes the server returns
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/salesOrderVBOProductOffering'
        400:
          description: 400, Bad Request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        404:
          description: 404, Not Found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        405:
          description: 405, Method Not Allowed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        500:
          description: 500, Internal Server Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        default:
          description: An unexpected fault occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
  /salesOrder/{id}/relatedEntity/{relatedEntityId}:
    get:
      tags:
      - salesOrder
      description: Retrieve the details of the related entity associated with sales
        order for the service.
      operationId: getRelatedEntity
      parameters:
      - name: id
        in: path
        description: The primary ID for the resource
        required: true
        schema:
          type: string
      - name: relatedEntityId
        in: path
        description: The primary ID for the entity
        required: true
        schema:
          type: string
      - name: fields
        in: query
        description: The field filters on the response attributes is enabled on all
          attributes, specified by ?fields=id,name,desc. Always the first query parameter.
        schema:
          type: string
      responses:
        200:
          description: 200, OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/salesOrderVBORelatedEntity'
        206:
          description: 206, Partial Content.
          headers:
            Content-Range:
              description: The range of bytes the server returns
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/salesOrderVBORelatedEntity'
        400:
          description: 400, Bad Request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        404:
          description: 404, Not Found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        405:
          description: 405, Method Not Allowed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        500:
          description: 500, Internal Server Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        default:
          description: An unexpected fault occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
  /salesOrder/{id}/relatedParty/{relatedPartyId}:
    get:
      tags:
      - salesOrder
      description: Retrieve the details of the individual or organisation of the related
        party associated with sales order for the service.
      operationId: getRelatedParty
      parameters:
      - name: id
        in: path
        description: The primary ID for the resource
        required: true
        schema:
          type: string
      - name: relatedPartyId
        in: path
        description: The primary ID for the requestor
        required: true
        schema:
          type: string
      - name: fields
        in: query
        description: The field filters on the response attributes is enabled on all
          attributes, specified by ?fields=id,name,desc. Always the first query parameter.
        schema:
          type: string
      responses:
        200:
          description: 200, OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/salesOrderVBORelatedParty'
        206:
          description: 206, Partial Content.
          headers:
            Content-Range:
              description: The range of bytes the server returns
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/salesOrderVBORelatedParty'
        400:
          description: 400, Bad Request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        404:
          description: 404, Not Found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        405:
          description: 405, Method Not Allowed. If the method is not implemented then
            this fault should be returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        500:
          description: 500, Internal Server Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        default:
          description: An unexpected fault occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
  /salesOrder/{id}/relatedSalesOrder/{relatedSalesOrderId}:
    get:
      tags:
      - salesOrder
      description: A method that allows a consumer of the API to get the Related Sales
        Order component of the VBO.
      operationId: getRelatedSalesOrder
      parameters:
      - name: id
        in: path
        description: The identifier of the Sales Order to search for, configured as
          the $.ids[0].$ value in the business object.
        required: true
        schema:
          type: string
      - name: relatedSalesOrderId
        in: path
        description: The primary ID for the Related Sales Order component of the resource
        required: true
        schema:
          type: string
      - name: fields
        in: query
        description: The field filters on the response attributes is enabled on all
          attributes, specified by ?fields=id,name,desc. Always the first query parameter.
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/salesOrderVBORelatedSalesOrder'
        206:
          description: 206, Partial Content.
          headers:
            Content-Range:
              description: The range of bytes the server returns
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/salesOrderVBORelatedSalesOrder'
        400:
          description: 400, Bad Request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        404:
          description: 404, Not Found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        405:
          description: 405, Method Not Allowed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        500:
          description: 500, Internal Server Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        default:
          description: An unexpected fault occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
  /salesOrder/{id}/salesQuote/{quoteId}:
    get:
      tags:
      - salesOrder
      description: A method that allows a consumer of the API to get the Sales Quote
        component of the VBO.
      operationId: getSalesQuote
      parameters:
      - name: id
        in: path
        description: The identifier of the Sales Order to search for, configured as
          the $.ids[0].$ value in the business object.
        required: true
        schema:
          type: string
      - name: quoteId
        in: path
        description: The primary ID for the Sales Quote component of the resource
        required: true
        schema:
          type: string
      - name: fields
        in: query
        description: The field filters on the response attributes is enabled on all
          attributes, specified by ?fields=id,name,desc. Always the first query parameter.
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/salesOrderVBOSalesQuote'
        206:
          description: 206, Partial Content.
          headers:
            Content-Range:
              description: The range of bytes the server returns
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/salesOrderVBOSalesQuote'
        400:
          description: 400, Bad Request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        404:
          description: 404, Not Found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        405:
          description: 405, Method Not Allowed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        500:
          description: 500, Internal Server Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        default:
          description: An unexpected fault occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
  /salesOrder/{id}/shipToPartyParty/{partyId}:
    get:
      tags:
      - salesOrder
      description: A method that allows a consumer of the API to get the Ship To Party
        role component of the VBO.
      operationId: getShipToPartyParty
      parameters:
      - name: id
        in: path
        description: The identifier of the Sales Order to search for, configured as
          the $.ids[0].$ value in the business object.
        required: true
        schema:
          type: string
      - name: partyId
        in: path
        description: The primary ID for the Ship To Party role component of the resource
        required: true
        schema:
          type: string
      - name: fields
        in: query
        description: The field filters on the response attributes is enabled on all
          attributes, specified by ?fields=id,name,desc. Always the first query parameter.
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/salesOrderVBOShipToParty'
        206:
          description: 206, Partial Content.
          headers:
            Content-Range:
              description: The range of bytes the server returns
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/salesOrderVBOShipToParty'
        400:
          description: 400, Bad Request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        404:
          description: 404, Not Found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        405:
          description: 405, Method Not Allowed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        500:
          description: 500, Internal Server Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        default:
          description: An unexpected fault occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
  /salesOrder/{id}/subscription/{subscriptionId}:
    get:
      tags:
      - salesOrder
      description: A method that allows a consumer of the API to get the Subscription
        component of the VBO.
      operationId: getSubscription
      parameters:
      - name: id
        in: path
        description: The identifier of the Sales Order to search for, configured as
          the $.ids[0].$ value in the business object.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: The primary ID for the Subscription component of the resource
        required: true
        schema:
          type: string
      - name: fields
        in: query
        description: The field filters on the response attributes is enabled on all
          attributes, specified by ?fields=id,name,desc. Always the first query parameter.
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/salesOrderVBOSubscription'
        206:
          description: 206, Partial Content.
          headers:
            Content-Range:
              description: The range of bytes the server returns
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/salesOrderVBOSubscription'
        400:
          description: 400, Bad Request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        404:
          description: 404, Not Found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        405:
          description: 405, Method Not Allowed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        500:
          description: 500, Internal Server Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        default:
          description: An unexpected fault occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
  /salesOrder/{id}/workforceAppointmentSlot/{appointmentSlotId}:
    get:
      tags:
      - salesOrder
      description: A method that allows a consumer of the API to get the Worekforce
        Appointment Slot component of the VBO.
      operationId: getWorkforceAppointmentSlot
      parameters:
      - name: id
        in: path
        description: The identifier of the Sales Order to search for, configured as
          the $.ids[0].$ value in the business object.
        required: true
        schema:
          type: string
      - name: appointmentSlotId
        in: path
        description: The primary ID for the Workforce Appointment Slot component of
          the resource
        required: true
        schema:
          type: string
      - name: fields
        in: query
        description: The field filters on the response attributes is enabled on all
          attributes, specified by ?fields=id,name,desc. Always the first query parameter.
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/salesOrderVBOWorkforceAppointmentSlot'
        206:
          description: 206, Partial Content.
          headers:
            Content-Range:
              description: The range of bytes the server returns
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/salesOrderVBOWorkforceAppointmentSlot'
        400:
          description: 400, Bad Request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        404:
          description: 404, Not Found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        405:
          description: 405, Method Not Allowed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        500:
          description: 500, Internal Server Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        default:
          description: An unexpected fault occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
  /salesOrder/notification:
    post:
      tags:
      - salesOrder
      description: A method that allows a consumer of the API to POST a notification
        of an event on a SalesOrder
      operationId: notify
      parameters:
      - name: X-Notify-EventCode
        in: header
        description: The type of event that caused the notification to be generated.
        schema:
          type: string
          enum:
          - Created
          - Updated
          - Deleted
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/salesOrderVBO'
        required: true
      responses:
        201:
          description: 201, Created.
          content: {}
        400:
          description: 400, Bad Request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        404:
          description: 404, Not Found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        405:
          description: 405, Method Not Allowed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        409:
          description: 409, Conflict.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        500:
          description: 500, Internal Server Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        default:
          description: An unexpected fault occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
      x-codegen-request-body-name: salesOrder
  /salesOrder/search:
    post:
      tags:
      - salesOrder
      description: A method that allows a consumer of the API to get a sales order
        representation.
      operationId: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/query'
        required: true
      responses:
        200:
          description: 200, OK.
          headers:
            X-Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
            X-Rate-Limit-Reset:
              description: The number of seconds left in the current period
              schema:
                type: integer
            X-Total-Count:
              description: The total number of resources found on the server that
                matched the query parameters.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/salesOrderVBO'
        204:
          description: 204, No Content.
          content: {}
        400:
          description: 400, Bad Request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        404:
          description: 404, Not Found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        405:
          description: 405, Method Not Allowed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        409:
          description: 409, Conflict.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        500:
          description: 500, Internal Server Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        default:
          description: An unexpected fault occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
      x-codegen-request-body-name: query
  /hub:
    get:
      tags:
      - hub
      description: A method that allows a consumer of the API to get the hub representation.
      operationId: hubFind
      parameters:
      - name: offset
        in: query
        description: This limits the queries allowed to supporting AND only, equality
          matching for the operator code and simple naming of the parameters themselves.
        schema:
          type: integer
      - name: count
        in: query
        description: The total number of resources found on the server that matched
          the query parameters.
        schema:
          type: integer
      - name: sort
        in: query
        description: 'Supports sorting. The field and direction on which to sort the
          returned set of Customer Party. '
        schema:
          type: string
      responses:
        200:
          description: 200, OK.
          headers:
            X-Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
            X-Rate-Limit-Reset:
              description: The number of seconds left in the current period
              schema:
                type: integer
            X-Total-Count:
              description: The total number of resources found on the server that
                matched the query parameters.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/hub'
        204:
          description: 204, No Content.
          content: {}
        206:
          description: 206, Partial Content.
          headers:
            Content-Range:
              description: The range of bytes the server returns
              schema:
                type: string
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/hub'
        400:
          description: 400, Bad Request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        404:
          description: 404, Not Found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        405:
          description: 405, Method Not Allowed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        500:
          description: 500, Internal Server Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        default:
          description: An unexpected fault occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
    post:
      tags:
      - hub
      description: A method that allows a consumer of to create a hub.
      operationId: hubCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/hub'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/hub'
        201:
          description: 201, Created.
          content: {}
        400:
          description: 400, Bad Request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        404:
          description: 404, Not Found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        405:
          description: 405, Method Not Allowed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        409:
          description: 409, Conflict.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        500:
          description: 500, Internal Server Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        default:
          description: An unexpected fault occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
      x-codegen-request-body-name: hub
  /hub/{id}:
    get:
      tags:
      - hub
      description: A method that allows a consumer of the API to get the hub representation
        for an ID.
      operationId: hubGet
      parameters:
      - name: id
        in: path
        description: The primary ID for the resource
        required: true
        schema:
          type: string
      - name: fields
        in: query
        description: The field filters on the response attributes is enabled on all
          attributes, specified by ?fields=id,name,desc. Always the first query parameter.
        schema:
          type: string
      responses:
        200:
          description: 200, OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/hub'
        400:
          description: 400, Bad Request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        404:
          description: 404, Not Found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        405:
          description: 405, Method Not Allowed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        409:
          description: 409, Conflict.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        500:
          description: 500, Internal Server Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        default:
          description: An unexpected fault occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
    delete:
      tags:
      - hub
      description: A method that allows a consumer of the API to delete the hub representation..
      operationId: hubDelete
      parameters:
      - name: id
        in: path
        description: The primary ID for the resource
        required: true
        schema:
          type: string
      responses:
        200:
          description: 200, OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/hub'
        202:
          description: 202, Accepted.
          content: {}
        204:
          description: 204, No Content.
          content: {}
        400:
          description: 400, Bad Request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        404:
          description: 404, Not Found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        405:
          description: 405, Method Not Allowed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        500:
          description: 500, Internal Server Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        default:
          description: An unexpected fault occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
  /listener:
    post:
      tags:
      - hub
      description: A method that allows a consumer of the API to create the event.
      operationId: listener
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/listener'
        required: true
      responses:
        200:
          description: 200, OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listener'
        201:
          description: 201, Created.
          content: {}
        202:
          description: 202, Accepted.
          content: {}
        400:
          description: 400, Bad Request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        404:
          description: 404, Not Found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        405:
          description: 405, Method Not Allowed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        409:
          description: 409, Conflict.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        500:
          description: 500, Internal Server Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
        default:
          description: An unexpected fault occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fault'
      x-codegen-request-body-name: hub
components:
  schemas:
    _links:
      type: object
      properties:
        self:
          type: object
          properties:
            href:
              type: string
              description: The default URI
              default: /{access}/salesOrderAPI/v4/home
          description: The self Link
        create:
          type: object
          properties:
            href:
              type: string
              description: The default URI
              default: /{access}/salesOrderAPI/v4/salesOrder
          description: The create Link
        update:
          type: object
          properties:
            href:
              type: string
              description: The default URI
              default: /{access}/salesOrderAPI/v4/salesOrder/{id}
          description: The upadte Link
        delete:
          type: object
          properties:
            href:
              type: string
              description: The default URI
              default: /{access}/salesOrderAPI/v4/salesOrder/{id}
          description: The delete Link
        patch:
          type: object
          properties:
            href:
              type: string
              description: The default URI
              default: /{access}/salesOrderAPI/v4/salesOrder/{id}
          description: The partial update Link
        search:
          type: object
          properties:
            href:
              type: string
              description: The default URI
              default: /{access}/salesOrderAPI/v4/salesOrder/search
          description: The searchLink
        hub:
          type: object
          properties:
            href:
              type: string
              description: The default URI
              default: /{access}/salesOrderAPI/v4/hub
          description: The hub Link
        listener:
          type: object
          properties:
            href:
              type: string
              description: The default URI
              default: /{access}/salesOrderAPI/v4/listener
          description: The listener Link
    patch:
      type: array
      items:
        required:
        - op
        - path
        type: object
        properties:
          op:
            type: string
            description: Operation objects MUST have exactly one 'op' member, whose
              value indicates the operation to perform
            enum:
            - add
            - remove
            - replace
            - move
            - copy
            - test
          from:
            type: string
            description: A JSON path pointing to the location to move/copy from.
          path:
            type: string
            description: A JSON path.
          value:
            type: object
            properties: {}
            description: The value to be used within the operations.
    fault:
      required:
      - timestamp
      type: object
      properties:
        timestamp:
          type: string
        originator:
          type: array
          items:
            type: object
            properties:
              address:
                type: string
                description: ""
              reference-parameters:
                type: array
                items:
                  type: object
                  properties: {}
              metadata:
                type: array
                items:
                  type: object
                  properties: {}
        errorCode:
          type: array
          items:
            required:
            - value
            type: object
            properties:
              value:
                type: string
              dialect:
                type: string
        description:
          type: array
          items:
            required:
            - value
            type: object
            properties:
              value:
                type: string
              lang:
                type: string
        faultCause:
          type: object
          properties: {}
          description: The legacy fault from the backend system.
        name:
          type: string
          description: 'A human readable short text name for the fault. Required if
            the Error Code >= 100, may be omitted or set to '
        severity:
          type: string
          description: The degree of severity and impact the fault has inccured, provides
            an indication of the level that may be used to trigger different behaviours
            in the consumer. Required if the Error Code >= 100, may be omitted or
            set to Information if the object is being used to indicate success.
        category:
          type: string
          description: A classification of the fault indicating whether it has been
            generated through some technical aspect of the interaction or on account
            of a failure of business logic, rules or processing. It provides an indication
            of the type that may be used to trigger different behaviours in the consumer.
            Required if the Error Code >= 100, may be omitted or set to Business if
            the object is being used to indicate success.
        reasonCode:
          type: string
          description: An enumeration of the reasons why the fault has been generated
            by the provider. Currently this is not used.
        message:
          type: string
          description: 'A human readable description of the fault as identified by
            the Error Code. Required if the Error Code >= 100, may be omitted or set
            to '
        characteristic:
          type: array
          items:
            required:
            - name
            - value
            type: object
            properties:
              name:
                type: string
              value:
                type: string
            description: A characteristic of the fault; these have both a name and
              a value.
        failure:
          type: array
          items:
            type: object
            properties:
              code:
                type: string
                description: The code identifying the specific failure.
              text:
                type: string
                description: The human-readable text of the specific failure.
              dataRef:
                type: object
                properties:
                  pathName:
                    type: string
                    description: The pseudo-JSON Path reference to the specific field
                      or component within the VBO.
                  pathValueText:
                    type: string
                    description: The value of the field referenced by the Path Name.
                description: A reference to the specific field or component within
                  the VBO that generated the failure.
              Severity:
                type: string
                description: The degree of severity and impact the fault has inccured,
                  provides an indication of the level that may be used to trigger
                  different behaviours in the consumer. Required if the Error Code
                  >= 100, may be omitted or set to Information if the object is being
                  used to indicate success.
            description: A component that describes individual failures within the
              fault. This component is used to support multiple causes to the fault;
              i.e. where the fault is generated from one or more API calls or one
              or more validation failures.
    query:
      required:
      - queries
      - queryOptions
      type: object
      properties:
        queries:
          minItems: 1
          type: array
          description: ""
          items:
            type: object
            properties:
              query:
                type: string
                description: An explanation about the purpose of this instance.
                default: A=1 | A=2 | A=3
              operator:
                type: string
                enum:
                - OR
                - AND
        queryOptions:
          required:
          - pagination
          - sorting
          type: object
          properties:
            fields:
              type: string
              description: The query parameter used to specify the fields for a partial
                response.
            filter:
              type: string
            pagination:
              type: object
              properties:
                count:
                  type: number
                limit:
                  type: number
            sorting:
              type: string
    hub:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the hub.
        callback:
          type: string
          description: The URI for the callback.
        query:
          type: string
          description: The query expression may be used to filter specific event types
            and/or any content of the event.
        fields:
          type: string
          description: An attribute selector directive used to specify the attributes
            to be returned as part of a partial representation of a resource
    listener:
      type: object
      properties:
        eventType:
          type: string
          description: The type associated with the event.
        eventTime:
          type: string
          description: The time event occurs.
        eventId:
          type: string
          description: The unique identifier associated with the event.
        event:
          type: object
          properties: {}
          description: The event body.
    salesOrderVBO:
      type: object
      properties:
        _links:
          type: array
          items:
            type: object
            properties:
              name:
                title: Name
                type: string
                description: Name of a resource, link, action, etc.
              href:
                title: HREF
                type: string
                description: A hyperlink URL
              templated:
                title: Is URI Templated?
                type: boolean
                description: Specifies whether or not a link is using URI templates
              type:
                title: Media Type
                type: string
                description: A media type
              deprecation:
                title: Is URI Deprecated?
                type: boolean
                description: Specifies whether or not a link is deprecated
        id:
          minItems: 1
          type: array
          description: ' The set of Identifiers for the VBO or component. These should
            be used to uniquely identifier instances of the business object or component.'
          items:
            $ref: '#/components/schemas/IDType'
        name:
          type: string
          description: The name of the instance of a business object or component.
        desc:
          type: string
          description: A free text description of a business object or component.
        type:
          type: string
          description: A classification of the business object or component. This
            identifies the subType of the instance of object or component.
        category:
          minItems: 1
          type: array
          description: ' The set of classifications for the business object or component.'
          items:
            required:
            - value
            type: object
            properties:
              value:
                type: string
                description: The value of the field.
              listHierarchyId:
                type: string
                description: ' An agency that maintains one or more lists of codes.'
              listName:
                type: string
                description: The name of a list of codes. The listName of the Type
                  Code
            description: ' A classification applied to the business object or component.
              More than one classification scheme can be applied using the @listName
              attribute to identify the type of code list being used. The classification
              scheme can be used to group instances of the object or component.'
        status:
          type: string
          description: The lifecycle state of the business object or component. This
            field is used to track the specific state an instance of an object or
            component is in; e.g. the Customer Bill is Active or the Customer Request
            has been Cancelled.
        version:
          type: string
          description: A field that identifies the specific version of an instance
            of a business object or component. This field should be used in support
            of multiAgent environments to control the concurrency (locking) of the
            instance.
        created:
          $ref: '#/components/schemas/dateTimeType'
        createdBy:
          $ref: '#/components/schemas/IDType'
        lastModified:
          $ref: '#/components/schemas/dateTimeType'
        lastModifiedBy:
          $ref: '#/components/schemas/IDType'
        validityPeriod:
          $ref: '#/components/schemas/validityPeriodType'
        lastActivityDate:
          $ref: '#/components/schemas/dateTimeType'
        priority:
          type: string
          description: The priority that should be given to the Sales Order. \n For
            example procurement of a mobile phone may be given high priority sothat
            it can be fulfilled in nearRealTime
        approvalDateTime:
          $ref: '#/components/schemas/dateTimeType'
        activationDateTime:
          $ref: '#/components/schemas/dateTimeType'
        deletionDateTime:
          $ref: '#/components/schemas/dateTimeType'
        expiryDateTime:
          $ref: '#/components/schemas/dateTimeType'
        completedDateTime:
          $ref: '#/components/schemas/dateTimeType'
        orderDateTime:
          $ref: '#/components/schemas/dateTimeType'
        pricingDateTime:
          $ref: '#/components/schemas/dateTimeType'
        scheduledDeliveryDateTime:
          $ref: '#/components/schemas/dateTimeType'
        requestedDeliveryDateTime:
          $ref: '#/components/schemas/dateTimeType'
        promisedDeliveryDateTime:
          $ref: '#/components/schemas/dateTimeType'
        requestedShipDateTime:
          $ref: '#/components/schemas/dateTimeType'
        serviceRequiredDateTime:
          $ref: '#/components/schemas/dateTimeType'
        savedIndicator:
          $ref: '#/components/schemas/indicatorType'
        customerAgreedToPayDepositIndicator:
          $ref: '#/components/schemas/indicatorType'
        shipmentInstruction:
          type: string
          description: These instructions are for external shipping personnel. For
            example; you might wish to warn your carriers of a fragile shipment or
            your customer's receiving hours
        confirmationChecksApproved:
          $ref: '#/components/schemas/indicatorType'
        eligibilityCheck:
          $ref: '#/components/schemas/indicatorType'
        statusReason:
          type: object
          properties:
            reasonCode:
              type: string
              description: The code describing the status reason
            reasonText:
              type: string
              description: The reason code describing the reason behind the status
                change
          description: Provides description for the current status value
        relatedSalesOrder:
          minItems: 1
          type: array
          items:
            $ref: '#/components/schemas/salesOrderVBORelatedSalesOrder'
        relatedEntity:
          minItems: 1
          type: array
          description: The set of related entities associated the Sales Order.
          items:
            $ref: '#/components/schemas/salesOrderVBORelatedEntity'
        relatedParty:
          minItems: 1
          type: array
          description: A reference to the Parties associated with the Sales Order.
          items:
            $ref: '#/components/schemas/salesOrderVBORelatedParty'
        billToContactPoint:
          minItems: 1
          type: array
          items:
            type: object
            properties:
              id:
                $ref: '#/components/schemas/IDType'
              preferred:
                $ref: '#/components/schemas/indicatorType'
              email:
                $ref: '#/components/schemas/emailType'
              telephone:
                $ref: '#/components/schemas/telephoneType'
              postal:
                $ref: '#/components/schemas/postalType'
              sms:
                $ref: '#/components/schemas/smsType'
              fax:
                $ref: '#/components/schemas/faxType'
              PushNotification:
                type: object
                properties:
                  appId:
                    $ref: '#/components/schemas/IDType'
                description: Push Notification as contact point
              geographicLocation:
                type: object
                properties:
                  altitudeMeasure:
                    $ref: '#/components/schemas/measureType'
                  latitudeMeasure:
                    $ref: '#/components/schemas/measureType'
                  longitudeMeasure:
                    $ref: '#/components/schemas/measureType'
                  latitudeDirectionCode:
                    type: string
                    description: A character string (letters, figures, or symbols)
                      that for brevity and/or languange independence may be used to
                      represent or replace a definitive value or text of an attribute
                      together with relevant supplementary information. Code string
                      Should not be used if the character string identifies an instance
                      of an object class or an object in the real world, in which
                      case the Identifier. Type should be used.
                  longitudeDirectionCode:
                    type: string
                    description: A character string (letters, figures, or symbols)
                      that for brevity and/or languange independence may be used to
                      represent or replace a definitive value or text of an attribute
                      together with relevant supplementary information. Code string
                      Should not be used if the character string identifies an instance
                      of an object class or an object in the real world, in which
                      case the Identifier. Type should be used.
                  systemId:
                    $ref: '#/components/schemas/IDType'
        customerAccount:
          $ref: '#/components/schemas/salesOrderVBOCustomerAccount'
        customerAgreement:
          $ref: '#/components/schemas/salesOrderVBOCustomerAgreement'
        channel:
          type: object
          properties:
            id:
              required:
              - value
              type: object
              properties:
                value:
                  type: string
                  description: The value of the field.
                schemeID:
                  type: string
                schemeName:
                  type: string
                schemeAgencyName:
                  type: string
              description: A character string to identify and distinguish uniquely,
                one instance of an object in an identification scheme from all other
                objects in the same scheme together with relevant supplementary information.Identifier
                string
            extraId:
              minItems: 1
              type: array
              description: ' The set of Identifiers for the VBO or component. These
                should be used to uniquely identifier instances of the business object
                or component.'
              items:
                required:
                - value
                type: object
                properties:
                  value:
                    type: string
                    description: The value of the field.
                  schemeID:
                    type: string
                  schemeName:
                    type: string
                  schemeAgencyName:
                    type: string
                description: A character string to identify and distinguish uniquely,
                  one instance of an object in an identification scheme from all other
                  objects in the same scheme together with relevant supplementary
                  information.Identifier string
            href:
              type: string
              description: URI, where to query or perform actions on the component.
            name:
              type: string
              description: ' The name of the instance of a business object or component.'
            category:
              minItems: 1
              type: array
              description: ' The set of classifications for the business object or
                component.'
              items:
                required:
                - value
                type: object
                properties:
                  value:
                    type: string
                    description: The value of the field.
                  listName:
                    type: string
                    description: The name of a list of codes. The listName of the
                      Type Code
                description: ' A classification applied to the business object or
                  component. More than one classification scheme can be applied using
                  the @listName attribute to identify the type of code list being
                  used. The classification scheme can be used to group instances of
                  the object or component.'
            _links:
              type: array
              items:
                $ref: '#/components/schemas/_linksItems'
        fulfilmentOrder:
          minItems: 1
          type: array
          description: A Collection of Fulfilment Order associated with the sales
            order
          items:
            $ref: '#/components/schemas/salesOrderVBOFulfilmentOrder'
        salesQuote:
          $ref: '#/components/schemas/salesOrderVBOSalesQuote'
        shipToContactPoint:
          type: object
          properties:
            id:
              $ref: '#/components/schemas/IDType'
            preferred:
              $ref: '#/components/schemas/indicatorType'
            email:
              $ref: '#/components/schemas/emailType'
            telephone:
              $ref: '#/components/schemas/telephoneType'
            postal:
              $ref: '#/components/schemas/postalType'
            sms:
              $ref: '#/components/schemas/smsType'
            fax:
              $ref: '#/components/schemas/faxType'
            PushNotification:
              type: object
              properties:
                appId:
                  $ref: '#/components/schemas/IDType'
              description: Push Notification as contact point
            geographicLocation:
              type: object
              properties:
                altitudeMeasure:
                  $ref: '#/components/schemas/measureType'
                latitudeMeasure:
                  $ref: '#/components/schemas/measureType'
                longitudeMeasure:
                  $ref: '#/components/schemas/measureType'
                latitudeDirectionCode:
                  type: string
                  description: A character string (letters, figures, or symbols) that
                    for brevity and/or languange independence may be used to represent
                    or replace a definitive value or text of an attribute together
                    with relevant supplementary information. Code string Should not
                    be used if the character string identifies an instance of an object
                    class or an object in the real world, in which case the Identifier.
                    Type should be used.
                longitudeDirectionCode:
                  type: string
                  description: A character string (letters, figures, or symbols) that
                    for brevity and/or languange independence may be used to represent
                    or replace a definitive value or text of an attribute together
                    with relevant supplementary information. Code string Should not
                    be used if the character string identifies an instance of an object
                    class or an object in the real world, in which case the Identifier.
                    Type should be used.
                systemId:
                  $ref: '#/components/schemas/measureType'
          description: Ship to contact points
        totalPrice:
          type: object
          properties:
            type:
              type: string
              description: The type of charge. For example a one time charge; a recurring
                charge or a charge based on usage.
            text:
              type: string
              description: Texts that describe the price for different purposes
            frequencyCode:
              $ref: '#/components/schemas/codeType'
            originalPrice:
              $ref: '#/components/schemas/amountType'
            finalPrice:
              $ref: '#/components/schemas/amountType'
          description: The total price of the Sales Order charged to the customer
        lineItem:
          type: array
          description: A Collection of Line Items associated withe the Sales Order.
          items:
            type: object
            properties:
              id:
                type: array
                description: The set of Identifiers for the VBO or component. These
                  should be used to uniquely identifier instances of the business
                  object or component.
                items:
                  $ref: '#/components/schemas/IDType'
              name:
                type: string
                description: The name of the instance of a business object or component.
              desc:
                type: string
                description: A free text description of a business object or component.
              type:
                type: string
                description: A classification of the business object or component.
                  This identifies the subType of the instance of object or component.
              category:
                minItems: 1
                type: array
                description: ' The set of classifications for the business object
                  or component.'
                items:
                  required:
                  - value
                  type: object
                  properties:
                    value:
                      type: string
                      description: The value of the field.
                    listHierarchyId:
                      type: string
                      description: ' An agency that maintains one or more lists of
                        codes.'
                    listName:
                      type: string
                      description: The name of a list of codes. The listName of the
                        Type Code
                  description: ' A classification applied to the business object or
                    component. More than one classification scheme can be applied
                    using the @listName attribute to identify the type of code list
                    being used. The classification scheme can be used to group instances
                    of the object or component.'
              status:
                type: string
                description: The lifecycle state of the business object or component.
                  This field is used to track the specific state an instance of an
                  object or component is in; e.g. the Customer Bill is Active or the
                  Customer Request has been Cancelled.
              action:
                type: string
                description: Action to be performed on the Sales Order Line Item;
                  Can be add / modify / no_change / delete.
              priority:
                type: string
                description: The priority that should be given to the Sales Order.
                  \n For example procurement of a mobile phone may be given high priority
                  sothat it can be fulfilled in nearRealTime
              approvalDateTime:
                $ref: '#/components/schemas/dateTimeType'
              activationDateTime:
                $ref: '#/components/schemas/dateTimeType'
              deletionDateTime:
                $ref: '#/components/schemas/dateTimeType'
              expiryDateTime:
                $ref: '#/components/schemas/dateTimeType'
              completedDateTime:
                $ref: '#/components/schemas/dateTimeType'
              orderDateTime:
                $ref: '#/components/schemas/dateTimeType'
              pricingDateTime:
                $ref: '#/components/schemas/dateTimeType'
              scheduledDeliveryDateTime:
                $ref: '#/components/schemas/dateTimeType'
              requestedDeliveryDateTime:
                $ref: '#/components/schemas/dateTimeType'
              promisedDeliveryDateTime:
                $ref: '#/components/schemas/dateTimeType'
              requestedShipDateTime:
                $ref: '#/components/schemas/dateTimeType'
              serviceRequiredDateTime:
                $ref: '#/components/schemas/dateTimeType'
              savedIndicator:
                $ref: '#/components/schemas/indicatorType'
              customerAgreedToPayDepositIndicator:
                $ref: '#/components/schemas/indicatorType'
              shipmentInstruction:
                type: string
                description: These instructions are for external shipping personnel.
                  For example; you might wish to warn your carriers of a fragile shipment
                  or your customer's receiving hours
              substitutionAllowedIndicator:
                $ref: '#/components/schemas/indicatorType'
              quantity:
                $ref: '#/components/schemas/quantityType'
              relatedLineItem:
                minItems: 1
                type: array
                items:
                  type: object
                  properties:
                    id:
                      required:
                      - value
                      type: object
                      properties:
                        value:
                          type: string
                          description: The value of the field.
                        schemeID:
                          type: string
                        schemeName:
                          type: string
                        schemeAgencyName:
                          type: string
                      description: A character string to identify and distinguish
                        uniquely, one instance of an object in an identification scheme
                        from all other objects in the same scheme together with relevant
                        supplementary information.Identifier string
                    extraId:
                      minItems: 1
                      type: array
                      description: ' The set of Identifiers for the VBO or component.
                        These should be used to uniquely identifier instances of the
                        business object or component.'
                      items:
                        required:
                        - value
                        type: object
                        properties:
                          value:
                            type: string
                            description: The value of the field.
                          schemeID:
                            type: string
                          schemeName:
                            type: string
                          schemeAgencyName:
                            type: string
                        description: A character string to identify and distinguish
                          uniquely, one instance of an object in an identification
                          scheme from all other objects in the same scheme together
                          with relevant supplementary information.Identifier string
                    href:
                      type: string
                      description: URI, where to query or perform actions on the component.
                    name:
                      type: string
                      description: ' The name of the instance of a business object
                        or component.'
                    category:
                      minItems: 1
                      type: array
                      description: ' The set of classifications for the business object
                        or component.'
                      items:
                        required:
                        - value
                        type: object
                        properties:
                          value:
                            type: string
                            description: The value of the field.
                          listName:
                            type: string
                            description: The name of a list of codes. The listName
                              of the Type Code
                        description: ' A classification applied to the business object
                          or component. More than one classification scheme can be
                          applied using the @listName attribute to identify the type
                          of code list being used. The classification scheme can be
                          used to group instances of the object or component.'
                    _links:
                      type: array
                      items:
                        $ref: '#/components/schemas/_linksItems'
              productOffering:
                minItems: 1
                type: array
                items:
                  $ref: '#/components/schemas/salesOrderVBOProductOffering'
              subscription:
                $ref: '#/components/schemas/salesOrderVBOSubscription'
              billToParty:
                $ref: '#/components/schemas/salesOrderVBOBillToParty'
              billToContactPoint:
                type: object
                properties:
                  id:
                    $ref: '#/components/schemas/IDType'
                  preferred:
                    $ref: '#/components/schemas/indicatorType'
                  email:
                    $ref: '#/components/schemas/emailType'
                  telephone:
                    $ref: '#/components/schemas/telephoneType'
                  postal:
[...]
