{
  "swagger": "2.0",
  "info": {
    "title": "Common Service Model API: SalesOrder",
    "description": "The Common Service Model (CSM) API for the SalesOrder Resource",
    "termsOfService": "https://{env}.api-v1.{locale}.vodafone.com/enterprise-resources/terms",
    "contact": {
      "name": "Vodafone Group Integration Domain",
      "url": "https://workspace.vodafone.com/group/GID/SitePages/Home.aspx"
    },
    "license": {
      "name": "Vodafone Licence 1.0",
      "url": "https://workspace.vodafone.com/group/GID/SitePages/Home.aspx"
    },
    "version": "4.0.0"
  },
  "host": "api.vodafone.com",
  "basePath": "/{access}/salesOrderAPI/v4",
  "tags": [
    {
      "name": "salesOrder",
      "description": "A Sales Order is the mechanism allowing a customer to order products / services. These products and services are made available to the customer as Product Offerings. A Sales Order can also contain an order to stop a Subscription to an existing product or instructions to modify it in some way. Additionally; things like SIM swap; and service configuration changes may be included on a Sales Order. A Sales Order line item therefore will have a Create action for Product Offerings and a Delete or Modify action for Products; Resources and Services"
    },
    {
      "name": "hub",
      "description": "Publish/subscriber register/unregister controll hub."
    },
    {
      "name": "home",
      "description": "Home entry point for the SalesOrder API"
    }
  ],
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/home": {
      "get": {
        "tags": [
          "home"
        ],
        "description": "The home operation provides an API endpoint to retrieve the links to the customer Bill resource from the server. The resource to retrieve is identified in the URL of the HTTP request",
        "operationId": "homeGet",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "200, OK.",
            "schema": {
              "$ref": "#/definitions/_links"
            }
          },
          "206": {
            "description": "206, Partial Content.",
            "schema": {
              "$ref": "#/definitions/_links"
            },
            "headers": {
              "Content-Range": {
                "type": "string",
                "description": "The range of bytes the server returns"
              }
            }
          },
          "400": {
            "description": "400, Bad Request.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "404": {
            "description": "404, Not Found.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "405": {
            "description": "405, Method Not Allowed.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "500": {
            "description": "500, Internal Server Error.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "default": {
            "description": "An unexpected fault occurred.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          }
        }
      }
    },
    "/salesOrder": {
      "get": {
        "tags": [
          "salesOrder"
        ],
        "description": "A method that allows a consumer of the API to get-list a SalesOrder representation.",
        "operationId": "getList",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "type": "string",
            "description": "The identifier of the Sales Order to search for, configured as the $.ids[0].$ value in the business object."
          },
          {
            "name": "billingAccountId",
            "in": "query",
            "type": "string",
            "description": "Identifies the billing Account from the Customer that is associated with the Sales Order."
          },
          {
            "name": "customerId",
            "in": "query",
            "type": "string",
            "description": "Identifies the Customer that is associated with the Sales Order."
          },
          {
            "name": "customerAccountId",
            "in": "query",
            "type": "string",
            "description": "Identifies the Customer Account from the Customer that is associated with the Sales Order."
          },
          {
            "name": "created",
            "in": "query",
            "type": "string",
            "description": "Identifies the Sales Order based on the creation Date/Time."
          },
          {
            "name": "productId",
            "in": "query",
            "type": "string",
            "description": "Identifies the Sales Order based on the id of the product being ordered."
          },
          {
            "name": "productName",
            "in": "query",
            "type": "string",
            "description": "Identifies the Sales Order based on the name of the product being ordered."
          },
          {
            "$ref": "#/parameters/fields"
          },
          {
            "$ref": "#/parameters/limit"
          },
          {
            "$ref": "#/parameters/count"
          },
          {
            "$ref": "#/parameters/sort"
          }
        ],
        "responses": {
          "200": {
            "description": "200, OK.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/salesOrderVBO"
              }
            },
            "headers": {
              "X-Rate-Limit-Limit": {
                "type": "integer",
                "description": "The number of allowed requests in the current period"
              },
              "X-Rate-Limit-Remaining": {
                "type": "integer",
                "description": "The number of remaining requests in the current period"
              },
              "X-Rate-Limit-Reset": {
                "type": "integer",
                "description": "The number of seconds left in the current period"
              },
              "X-Total-Count": {
                "type": "string",
                "description": "The total number of resources found on the server that matched the query parameters."
              }
            }
          },
          "204": {
            "description": "204, No Content."
          },
          "206": {
            "description": "206, Partial Content.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/salesOrderVBO"
              }
            },
            "headers": {
              "X-Rate-Limit-Limit": {
                "type": "integer",
                "description": "The number of allowed requests in the current period"
              },
              "X-Rate-Limit-Remaining": {
                "type": "integer",
                "description": "The number of remaining requests in the current period"
              },
              "X-Rate-Limit-Reset": {
                "type": "integer",
                "description": "The number of seconds left in the current period"
              },
              "X-Total-Count": {
                "type": "string",
                "description": "The total number of resources found on the server that matched the query parameters."
              },
              "Content-Range": {
                "type": "string",
                "description": "The range of bytes the server returns"
              }
            }
          },
          "400": {
            "description": "400, Bad Request.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "404": {
            "description": "404, Not Found.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "405": {
            "description": "405, Method Not Allowed.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "500": {
            "description": "500, Internal Server Error.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "default": {
            "description": "An unexpected fault occurred.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          }
        }
      },
      "post": {
        "tags": [
          "salesOrder"
        ],
        "description": "A method that allows a consumer of the API to create a SalesOrder representation.",
        "operationId": "create",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "salesOrder",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/salesOrderVBO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200, OK.",
            "schema": {
              "$ref": "#/definitions/salesOrderVBO"
            }
          },
          "201": {
            "description": "201, Created.",
            "schema": {
              "$ref": "#/definitions/salesOrderVBO"
            }
          },
          "202": {
            "description": "202, Accepted."
          },
          "204": {
            "description": "204, No Content."
          },
          "400": {
            "description": "400, Bad Request.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "404": {
            "description": "404, Not Found.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "405": {
            "description": "405, Method Not Allowed.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "409": {
            "description": "409, Conflict.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "500": {
            "description": "500, Internal Server Error.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "default": {
            "description": "An unexpected fault occurred.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          }
        }
      }
    },
    "/salesOrder/{id}": {
      "get": {
        "tags": [
          "salesOrder"
        ],
        "description": "A method that allows a consumer of the API to get a SalesOrder representation.",
        "operationId": "get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/fields"
          }
        ],
        "responses": {
          "200": {
            "description": "200, OK.",
            "schema": {
              "$ref": "#/definitions/salesOrderVBO"
            }
          },
          "206": {
            "description": "206, Partial Content.",
            "schema": {
              "$ref": "#/definitions/salesOrderVBO"
            },
            "headers": {
              "Content-Range": {
                "type": "string",
                "description": "The range of bytes the server returns"
              }
            }
          },
          "400": {
            "description": "400, Bad Request.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "404": {
            "description": "404, Not Found.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "405": {
            "description": "405, Method Not Allowed.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "500": {
            "description": "500, Internal Server Error.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "default": {
            "description": "An unexpected fault occurred.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          }
        }
      },
      "put": {
        "tags": [
          "salesOrder"
        ],
        "description": "A method that allows a consumer of the API to update a SalesOrder representation.",
        "operationId": "updateReplace",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "salesOrder",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/salesOrderVBO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200, OK.",
            "schema": {
              "$ref": "#/definitions/salesOrderVBO"
            }
          },
          "202": {
            "description": "202, Accepted."
          },
          "204": {
            "description": "204, No Content."
          },
          "400": {
            "description": "400, Bad Request.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "404": {
            "description": "404, Not Found.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "405": {
            "description": "405, Method Not Allowed.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "409": {
            "description": "409, Conflict.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "500": {
            "description": "500, Internal Server Error.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "default": {
            "description": "An unexpected fault occurred.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "salesOrder"
        ],
        "description": "A method that allows a consumer of the API to update a SalesOrder representation.",
        "operationId": "updatePartial",
        "consumes": [
          "application/json-patch+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "salesOrder",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/patch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200, OK.",
            "schema": {
              "$ref": "#/definitions/salesOrderVBO"
            }
          },
          "202": {
            "description": "202, Accepted."
          },
          "204": {
            "description": "204, No Content."
          },
          "400": {
            "description": "400, Bad Request.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "404": {
            "description": "404, Not Found.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "405": {
            "description": "405, Method Not Allowed.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "409": {
            "description": "409, Conflict.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "412": {
            "description": "412, Precondition Failed.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "500": {
            "description": "500, Internal Server Error.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "default": {
            "description": "An unexpected fault occurred.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "salesOrder"
        ],
        "description": "A method that allows a consumer of the API to delete a SalesOrder representation.",
        "operationId": "delete",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "200, OK.",
            "schema": {
              "$ref": "#/definitions/salesOrderVBO"
            }
          },
          "202": {
            "description": "202, Accepted."
          },
          "204": {
            "description": "204, No Content."
          },
          "400": {
            "description": "400, Bad Request.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "404": {
            "description": "404, Not Found.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "405": {
            "description": "405, Method Not Allowed.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "500": {
            "description": "500, Internal Server Error.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "default": {
            "description": "An unexpected fault occurred.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          }
        }
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "The primary ID for the resource",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/salesOrder/{id}/billToPartyParty/{partyId}": {
      "get": {
        "tags": [
          "salesOrder"
        ],
        "description": "A method that allows a consumer of the API to get the Requestor role component of the VBO.",
        "operationId": "getBillToPartyParty",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/fields"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/salesOrderVBOBillToParty"
            }
          },
          "206": {
            "description": "206, Partial Content.",
            "schema": {
              "$ref": "#/definitions/salesOrderVBOBillToParty"
            },
            "headers": {
              "Content-Range": {
                "type": "string",
                "description": "The range of bytes the server returns"
              }
            }
          },
          "400": {
            "description": "400, Bad Request.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "404": {
            "description": "404, Not Found.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "405": {
            "description": "405, Method Not Allowed.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "500": {
            "description": "500, Internal Server Error.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "default": {
            "description": "An unexpected fault occurred.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          }
        }
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "The identifier of the Sales Order to search for, configured as the $.ids[0].$ value in the business object.",
          "required": true,
          "type": "string"
        },
        {
          "name": "partyId",
          "in": "path",
          "description": "The primary ID for the Bill To Party role component of the resource",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/salesOrder/{id}/billingAccount/{accountId}": {
      "get": {
        "tags": [
          "salesOrder"
        ],
        "description": "A method that allows a consumer of the API to get the billing Account component of the VBO.",
        "operationId": "getBillingAccount",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/fields"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/salesOrderVBOBillingAccount"
            }
          },
          "206": {
            "description": "206, Partial Content.",
            "schema": {
              "$ref": "#/definitions/salesOrderVBOBillingAccount"
            },
            "headers": {
              "Content-Range": {
                "type": "string",
                "description": "The range of bytes the server returns"
              }
            }
          },
          "400": {
            "description": "400, Bad Request.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "404": {
            "description": "404, Not Found.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "405": {
            "description": "405, Method Not Allowed.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "500": {
            "description": "500, Internal Server Error.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "default": {
            "description": "An unexpected fault occurred.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          }
        }
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "The identifier of the Sales Order to search for, configured as the $.ids[0].$ value in the business object.",
          "required": true,
          "type": "string"
        },
        {
          "name": "accountId",
          "in": "path",
          "description": "The primary ID for the Billing Account component of the resource",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/salesOrder/{id}/customerAccount/{accountId}": {
      "get": {
        "tags": [
          "salesOrder"
        ],
        "description": "A method that allows a consumer of the API to get the Customer Account component of the VBO.",
        "operationId": "getCustomerAccount",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/fields"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/salesOrderVBOCustomerAccount"
            }
          },
          "206": {
            "description": "206, Partial Content.",
            "schema": {
              "$ref": "#/definitions/salesOrderVBOCustomerAccount"
            },
            "headers": {
              "Content-Range": {
                "type": "string",
                "description": "The range of bytes the server returns"
              }
            }
          },
          "400": {
            "description": "400, Bad Request.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "404": {
            "description": "404, Not Found.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "405": {
            "description": "405, Method Not Allowed.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "500": {
            "description": "500, Internal Server Error.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "default": {
            "description": "An unexpected fault occurred.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          }
        }
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "The identifier of the Sales Order to search for, configured as the $.ids[0].$ value in the business object.",
          "required": true,
          "type": "string"
        },
        {
          "name": "accountId",
          "in": "path",
          "description": "The primary ID for the Customer Account component of the resource",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/salesOrder/{id}/customerAgreement/{agreementId}": {
      "get": {
        "tags": [
          "salesOrder"
        ],
        "description": "A method that allows a consumer of the API to get the Customer Agreement component of the VBO.",
        "operationId": "getCustomerAgreement",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/fields"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/salesOrderVBOCustomerAgreement"
            }
          },
          "206": {
            "description": "206, Partial Content.",
            "schema": {
              "$ref": "#/definitions/salesOrderVBOCustomerAgreement"
            },
            "headers": {
              "Content-Range": {
                "type": "string",
                "description": "The range of bytes the server returns"
              }
            }
          },
          "400": {
            "description": "400, Bad Request.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "404": {
            "description": "404, Not Found.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "405": {
            "description": "405, Method Not Allowed.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "500": {
            "description": "500, Internal Server Error.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "default": {
            "description": "An unexpected fault occurred.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          }
        }
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "The identifier of the Sales Order to search for, configured as the $.ids[0].$ value in the business object.",
          "required": true,
          "type": "string"
        },
        {
          "name": "agreementId",
          "in": "path",
          "description": "The primary ID for the Customer Agreement component of the resource",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/salesOrder/{id}/fulfilmentOrder/{orderId}": {
      "get": {
        "tags": [
          "salesOrder"
        ],
        "description": "A method that allows a consumer of the API to get the Fulfilment Order component of the VBO.",
        "operationId": "getFulfilmentOrder",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/fields"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/salesOrderVBOFulfilmentOrder"
            }
          },
          "206": {
            "description": "206, Partial Content.",
            "schema": {
              "$ref": "#/definitions/salesOrderVBOFulfilmentOrder"
            },
            "headers": {
              "Content-Range": {
                "type": "string",
                "description": "The range of bytes the server returns"
              }
            }
          },
          "400": {
            "description": "400, Bad Request.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "404": {
            "description": "404, Not Found.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "405": {
            "description": "405, Method Not Allowed.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "500": {
            "description": "500, Internal Server Error.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "default": {
            "description": "An unexpected fault occurred.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          }
        }
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "The identifier of the Sales Order to search for, configured as the $.ids[0].$ value in the business object.",
          "required": true,
          "type": "string"
        },
        {
          "name": "orderId",
          "in": "path",
          "description": "The primary ID for the Fulfiment Order component of the resource",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/salesOrder/{id}/productOffering/{productId}": {
      "get": {
        "tags": [
          "salesOrder"
        ],
        "description": "A method that allows a consumer of the API to get the Product Offering component of the VBO.",
        "operationId": "getProductOffering",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/fields"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/salesOrderVBOProductOffering"
            }
          },
          "206": {
            "description": "206, Partial Content.",
            "schema": {
              "$ref": "#/definitions/salesOrderVBOProductOffering"
            },
            "headers": {
              "Content-Range": {
                "type": "string",
                "description": "The range of bytes the server returns"
              }
            }
          },
          "400": {
            "description": "400, Bad Request.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "404": {
            "description": "404, Not Found.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "405": {
            "description": "405, Method Not Allowed.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "500": {
            "description": "500, Internal Server Error.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "default": {
            "description": "An unexpected fault occurred.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          }
        }
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "The identifier of the Sales Order to search for, configured as the $.ids[0].$ value in the business object.",
          "required": true,
          "type": "string"
        },
        {
          "name": "productId",
          "in": "path",
          "description": "The primary ID for the Product Offering component of the resource",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/salesOrder/{id}/relatedEntity/{relatedEntityId}": {
      "get": {
        "tags": [
          "salesOrder"
        ],
        "description": "Retrieve the details of the related entity associated with sales order for the service.",
        "operationId": "getRelatedEntity",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/fields"
          }
        ],
        "responses": {
          "200": {
            "description": "200, OK.",
            "schema": {
              "$ref": "#/definitions/salesOrderVBORelatedEntity"
            }
          },
          "206": {
            "description": "206, Partial Content.",
            "schema": {
              "$ref": "#/definitions/salesOrderVBORelatedEntity"
            },
            "headers": {
              "Content-Range": {
                "type": "string",
                "description": "The range of bytes the server returns"
              }
            }
          },
          "400": {
            "description": "400, Bad Request.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "404": {
            "description": "404, Not Found.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "405": {
            "description": "405, Method Not Allowed.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "500": {
            "description": "500, Internal Server Error.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "default": {
            "description": "An unexpected fault occurred.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          }
        }
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "The primary ID for the resource",
          "required": true,
          "type": "string"
        },
        {
          "name": "relatedEntityId",
          "in": "path",
          "description": "The primary ID for the entity",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/salesOrder/{id}/relatedParty/{relatedPartyId}": {
      "get": {
        "tags": [
          "salesOrder"
        ],
        "description": "Retrieve the details of the individual or organisation of the related party associated with sales order for the service.",
        "operationId": "getRelatedParty",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/fields"
          }
        ],
        "responses": {
          "200": {
            "description": "200, OK.",
            "schema": {
              "$ref": "#/definitions/salesOrderVBORelatedParty"
            }
          },
          "206": {
            "description": "206, Partial Content.",
            "schema": {
              "$ref": "#/definitions/salesOrderVBORelatedParty"
            },
            "headers": {
              "Content-Range": {
                "type": "string",
                "description": "The range of bytes the server returns"
              }
            }
          },
          "400": {
            "description": "400, Bad Request.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "404": {
            "description": "404, Not Found.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "405": {
            "description": "405, Method Not Allowed. If the method is not implemented then this fault should be returned.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "500": {
            "description": "500, Internal Server Error.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "default": {
            "description": "An unexpected fault occurred.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          }
        }
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "The primary ID for the resource",
          "required": true,
          "type": "string"
        },
        {
          "name": "relatedPartyId",
          "in": "path",
          "description": "The primary ID for the requestor",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/salesOrder/{id}/relatedSalesOrder/{relatedSalesOrderId}": {
      "get": {
        "tags": [
          "salesOrder"
        ],
        "description": "A method that allows a consumer of the API to get the Related Sales Order component of the VBO.",
        "operationId": "getRelatedSalesOrder",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/fields"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/salesOrderVBORelatedSalesOrder"
            }
          },
          "206": {
            "description": "206, Partial Content.",
            "schema": {
              "$ref": "#/definitions/salesOrderVBORelatedSalesOrder"
            },
            "headers": {
              "Content-Range": {
                "type": "string",
                "description": "The range of bytes the server returns"
              }
            }
          },
          "400": {
            "description": "400, Bad Request.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "404": {
            "description": "404, Not Found.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "405": {
            "description": "405, Method Not Allowed.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "500": {
            "description": "500, Internal Server Error.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "default": {
            "description": "An unexpected fault occurred.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          }
        }
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "The identifier of the Sales Order to search for, configured as the $.ids[0].$ value in the business object.",
          "required": true,
          "type": "string"
        },
        {
          "name": "relatedSalesOrderId",
          "in": "path",
          "description": "The primary ID for the Related Sales Order component of the resource",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/salesOrder/{id}/salesQuote/{quoteId}": {
      "get": {
        "tags": [
          "salesOrder"
        ],
        "description": "A method that allows a consumer of the API to get the Sales Quote component of the VBO.",
        "operationId": "getSalesQuote",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/fields"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/salesOrderVBOSalesQuote"
            }
          },
          "206": {
            "description": "206, Partial Content.",
            "schema": {
              "$ref": "#/definitions/salesOrderVBOSalesQuote"
            },
            "headers": {
              "Content-Range": {
                "type": "string",
                "description": "The range of bytes the server returns"
              }
            }
          },
          "400": {
            "description": "400, Bad Request.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "404": {
            "description": "404, Not Found.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "405": {
            "description": "405, Method Not Allowed.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "500": {
            "description": "500, Internal Server Error.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "default": {
            "description": "An unexpected fault occurred.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          }
        }
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "The identifier of the Sales Order to search for, configured as the $.ids[0].$ value in the business object.",
          "required": true,
          "type": "string"
        },
        {
          "name": "quoteId",
          "in": "path",
          "description": "The primary ID for the Sales Quote component of the resource",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/salesOrder/{id}/shipToPartyParty/{partyId}": {
      "get": {
        "tags": [
          "salesOrder"
        ],
        "description": "A method that allows a consumer of the API to get the Ship To Party role component of the VBO.",
        "operationId": "getShipToPartyParty",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/fields"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/salesOrderVBOShipToParty"
            }
          },
          "206": {
            "description": "206, Partial Content.",
            "schema": {
              "$ref": "#/definitions/salesOrderVBOShipToParty"
            },
            "headers": {
              "Content-Range": {
                "type": "string",
                "description": "The range of bytes the server returns"
              }
            }
          },
          "400": {
            "description": "400, Bad Request.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "404": {
            "description": "404, Not Found.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "405": {
            "description": "405, Method Not Allowed.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "500": {
            "description": "500, Internal Server Error.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "default": {
            "description": "An unexpected fault occurred.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          }
        }
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "The identifier of the Sales Order to search for, configured as the $.ids[0].$ value in the business object.",
          "required": true,
          "type": "string"
        },
        {
          "name": "partyId",
          "in": "path",
          "description": "The primary ID for the Ship To Party role component of the resource",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/salesOrder/{id}/subscription/{subscriptionId}": {
      "get": {
        "tags": [
          "salesOrder"
        ],
        "description": "A method that allows a consumer of the API to get the Subscription component of the VBO.",
        "operationId": "getSubscription",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/fields"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/salesOrderVBOSubscription"
            }
          },
          "206": {
            "description": "206, Partial Content.",
            "schema": {
              "$ref": "#/definitions/salesOrderVBOSubscription"
            },
            "headers": {
              "Content-Range": {
                "type": "string",
                "description": "The range of bytes the server returns"
              }
            }
          },
          "400": {
            "description": "400, Bad Request.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "404": {
            "description": "404, Not Found.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "405": {
            "description": "405, Method Not Allowed.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "500": {
            "description": "500, Internal Server Error.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "default": {
            "description": "An unexpected fault occurred.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          }
        }
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "The identifier of the Sales Order to search for, configured as the $.ids[0].$ value in the business object.",
          "required": true,
          "type": "string"
        },
        {
          "name": "subscriptionId",
          "in": "path",
          "description": "The primary ID for the Subscription component of the resource",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/salesOrder/{id}/workforceAppointmentSlot/{appointmentSlotId}": {
      "get": {
        "tags": [
          "salesOrder"
        ],
        "description": "A method that allows a consumer of the API to get the Worekforce Appointment Slot component of the VBO.",
        "operationId": "getWorkforceAppointmentSlot",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/fields"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/salesOrderVBOWorkforceAppointmentSlot"
            }
          },
          "206": {
            "description": "206, Partial Content.",
            "schema": {
              "$ref": "#/definitions/salesOrderVBOWorkforceAppointmentSlot"
            },
            "headers": {
              "Content-Range": {
                "type": "string",
                "description": "The range of bytes the server returns"
              }
            }
          },
          "400": {
            "description": "400, Bad Request.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "404": {
            "description": "404, Not Found.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "405": {
            "description": "405, Method Not Allowed.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "500": {
            "description": "500, Internal Server Error.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "default": {
            "description": "An unexpected fault occurred.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          }
        }
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "The identifier of the Sales Order to search for, configured as the $.ids[0].$ value in the business object.",
          "required": true,
          "type": "string"
        },
        {
          "name": "appointmentSlotId",
          "in": "path",
          "description": "The primary ID for the Workforce Appointment Slot component of the resource",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/salesOrder/notification": {
      "post": {
        "tags": [
          "salesOrder"
        ],
        "description": "A method that allows a consumer of the API to POST a notification of an event on a SalesOrder",
        "operationId": "notify",
        "parameters": [
          {
            "name": "salesOrder",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/salesOrderVBO"
            }
          },
          {
            "name": "X-Notify-EventCode",
            "in": "header",
            "type": "string",
            "description": "The type of event that caused the notification to be generated.",
            "enum": [
              "Created",
              "Updated",
              "Deleted"
            ]
          }
        ],
        "responses": {
          "201": {
            "description": "201, Created."
          },
          "400": {
            "description": "400, Bad Request.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "404": {
            "description": "404, Not Found.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "405": {
            "description": "405, Method Not Allowed.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "409": {
            "description": "409, Conflict.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "500": {
            "description": "500, Internal Server Error.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "default": {
            "description": "An unexpected fault occurred.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          }
        }
      }
    },
    "/salesOrder/search": {
      "post": {
        "tags": [
          "salesOrder"
        ],
        "description": "A method that allows a consumer of the API to get a sales order representation.",
        "operationId": "query",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/query"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200, OK.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/salesOrderVBO"
              }
            },
            "headers": {
              "X-Rate-Limit-Limit": {
                "type": "integer",
                "description": "The number of allowed requests in the current period"
              },
              "X-Rate-Limit-Remaining": {
                "type": "integer",
                "description": "The number of remaining requests in the current period"
              },
              "X-Rate-Limit-Reset": {
                "type": "integer",
                "description": "The number of seconds left in the current period"
              },
              "X-Total-Count": {
                "type": "string",
                "description": "The total number of resources found on the server that matched the query parameters."
              }
            }
          },
          "204": {
            "description": "204, No Content."
          },
          "400": {
            "description": "400, Bad Request.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "404": {
            "description": "404, Not Found.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "405": {
            "description": "405, Method Not Allowed.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "409": {
            "description": "409, Conflict.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "500": {
            "description": "500, Internal Server Error.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "default": {
            "description": "An unexpected fault occurred.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          }
        }
      },
      "parameters": []
    },
    "/hub": {
      "get": {
        "tags": [
          "hub"
        ],
        "description": "A method that allows a consumer of the API to get the hub representation.",
        "operationId": "hubFind",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/limit"
          },
          {
            "$ref": "#/parameters/count"
          },
          {
            "$ref": "#/parameters/sort"
          }
        ],
        "responses": {
          "200": {
            "description": "200, OK.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/hub"
              }
            },
            "headers": {
              "X-Rate-Limit-Limit": {
                "type": "integer",
                "description": "The number of allowed requests in the current period"
              },
              "X-Rate-Limit-Remaining": {
                "type": "integer",
                "description": "The number of remaining requests in the current period"
              },
              "X-Rate-Limit-Reset": {
                "type": "integer",
                "description": "The number of seconds left in the current period"
              },
              "X-Total-Count": {
                "type": "string",
                "description": "The total number of resources found on the server that matched the query parameters."
              }
            }
          },
          "204": {
            "description": "204, No Content."
          },
          "206": {
            "description": "206, Partial Content.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/hub"
              }
            },
            "headers": {
              "Content-Range": {
                "type": "string",
                "description": "The range of bytes the server returns"
              }
            }
          },
          "400": {
            "description": "400, Bad Request.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "404": {
            "description": "404, Not Found.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "405": {
            "description": "405, Method Not Allowed.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "500": {
            "description": "500, Internal Server Error.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "default": {
            "description": "An unexpected fault occurred.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          }
        }
      },
      "post": {
        "tags": [
          "hub"
        ],
        "description": "A method that allows a consumer of to create a hub.",
        "operationId": "hubCreate",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "hub",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/hub"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/hub"
            }
          },
          "201": {
            "description": "201, Created."
          },
          "400": {
            "description": "400, Bad Request.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "404": {
            "description": "404, Not Found.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "405": {
            "description": "405, Method Not Allowed.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "409": {
            "description": "409, Conflict.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "500": {
            "description": "500, Internal Server Error.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "default": {
            "description": "An unexpected fault occurred.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          }
        }
      },
      "parameters": []
    },
    "/hub/{id}": {
      "get": {
        "tags": [
          "hub"
        ],
        "description": "A method that allows a consumer of the API to get the hub representation for an ID.",
        "operationId": "hubGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/fields"
          }
        ],
        "responses": {
          "200": {
            "description": "200, OK.",
            "schema": {
              "$ref": "#/definitions/hub"
            }
          },
          "400": {
            "description": "400, Bad Request.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "404": {
            "description": "404, Not Found.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "405": {
            "description": "405, Method Not Allowed.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "409": {
            "description": "409, Conflict.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "500": {
            "description": "500, Internal Server Error.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "default": {
            "description": "An unexpected fault occurred.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "hub"
        ],
        "description": "A method that allows a consumer of the API to delete the hub representation..",
        "operationId": "hubDelete",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "200, OK.",
            "schema": {
              "$ref": "#/definitions/hub"
            }
          },
          "202": {
            "description": "202, Accepted."
          },
          "204": {
            "description": "204, No Content."
          },
          "400": {
            "description": "400, Bad Request.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "404": {
            "description": "404, Not Found.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "405": {
            "description": "405, Method Not Allowed.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "500": {
            "description": "500, Internal Server Error.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "default": {
            "description": "An unexpected fault occurred.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          }
        }
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "The primary ID for the resource",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/listener": {
      "post": {
        "tags": [
          "hub"
        ],
        "description": "A method that allows a consumer of the API to create the event.",
        "operationId": "listener",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "hub",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/listener"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200, OK.",
            "schema": {
              "$ref": "#/definitions/listener"
            }
          },
          "201": {
            "description": "201, Created."
          },
          "202": {
            "description": "202, Accepted."
          },
          "400": {
            "description": "400, Bad Request.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "404": {
            "description": "404, Not Found.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "405": {
            "description": "405, Method Not Allowed.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "409": {
            "description": "409, Conflict.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "500": {
            "description": "500, Internal Server Error.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          },
          "default": {
            "description": "An unexpected fault occurred.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "_links": {
      "type": "object",
      "properties": {
        "self": {
          "type": "object",
          "description": "The self Link",
          "properties": {
            "href": {
              "type": "string",
              "description": "The default URI",
              "default": "/{access}/salesOrderAPI/v4/home"
            }
          }
        },
        "create": {
          "type": "object",
          "description": "The create Link",
          "properties": {
            "href": {
              "type": "string",
              "description": "The default URI",
              "default": "/{access}/salesOrderAPI/v4/salesOrder"
            }
          }
        },
        "update": {
          "type": "object",
          "description": "The upadte Link",
          "properties": {
            "href": {
              "type": "string",
              "description": "The default URI",
              "default": "/{access}/salesOrderAPI/v4/salesOrder/{id}"
            }
          }
        },
        "delete": {
          "type": "object",
          "description": "The delete Link",
          "properties": {
            "href": {
              "type": "string",
              "description": "The default URI",
              "default": "/{access}/salesOrderAPI/v4/salesOrder/{id}"
            }
          }
        },
        "patch": {
          "type": "object",
          "description": "The partial update Link",
          "properties": {
            "href": {
              "type": "string",
              "description": "The default URI",
              "default": "/{access}/salesOrderAPI/v4/salesOrder/{id}"
            }
          }
        },
        "search": {
          "type": "object",
          "description": "The searchLink",
          "properties": {
            "href": {
              "type": "string",
              "description": "The default URI",
              "default": "/{access}/salesOrderAPI/v4/salesOrder/search"
            }
          }
        },
        "hub": {
          "type": "object",
          "description": "The hub Link",
          "properties": {
            "href": {
              "type": "string",
              "description": "The default URI",
              "default": "/{access}/salesOrderAPI/v4/hub"
            }
          }
        },
        "listener": {
          "type": "object",
          "description": "The listener Link",
          "properties": {
            "href": {
              "type": "string",
              "description": "The default URI",
              "default": "/{access}/salesOrderAPI/v4/listener"
            }
          }
        }
      }
    },
    "patch": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "op": {
            "type": "string",
            "description": "Operation objects MUST have exactly one 'op' member, whose value indicates the operation to perform",
            "enum": [
              "add",
              "remove",
              "replace",
              "move",
              "copy",
              "test"
            ]
          },
          "from": {
            "description": "A JSON path pointing to the location to move/copy from.",
            "type": "string"
          },
          "path": {
            "description": "A JSON path.",
            "type": "string"
          },
          "value": {
            "type": "object",
            "description": "The value to be used within the operations."
          }
        },
        "required": [
          "op",
          "path"
        ]
      }
    },
    "fault": {
      "properties": {
        "timestamp": {
          "type": "string"
        },
        "originator": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "address": {
                "type": "string",
                "description": ""
              },
              "reference-parameters": {
                "type": "array",
                "items": {
                  "properties": {}
                }
              },
              "metadata": {
                "type": "array",
                "items": {
                  "properties": {}
                }
              }
            }
          }
        },
        "errorCode": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "value": {
                "type": "string"
              },
              "dialect": {
                "type": "string"
              }
            },
            "required": [
              "value"
            ]
          }
        },
        "description": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "value": {
                "type": "string"
              },
              "lang": {
                "type": "string"
              }
            },
            "required": [
              "value"
            ]
          }
        },
        "faultCause": {
          "type": "object",
          "description": "The legacy fault from the backend system.",
          "properties": {}
        },
        "name": {
          "type": "string",
          "description": "A human readable short text name for the fault. Required if the Error Code >= 100, may be omitted or set to "
        },
        "severity": {
          "type": "string",
          "description": "The degree of severity and impact the fault has inccured, provides an indication of the level that may be used to trigger different behaviours in the consumer. Required if the Error Code >= 100, may be omitted or set to Information if the object is being used to indicate success."
        },
        "category": {
          "type": "string",
          "description": "A classification of the fault indicating whether it has been generated through some technical aspect of the interaction or on account of a failure of business logic, rules or processing. It provides an indication of the type that may be used to trigger different behaviours in the consumer. Required if the Error Code >= 100, may be omitted or set to Business if the object is being used to indicate success."
        },
        "reasonCode": {
          "type": "string",
          "description": "An enumeration of the reasons why the fault has been generated by the provider. Currently this is not used."
        },
        "message": {
          "type": "string",
          "description": "A human readable description of the fault as identified by the Error Code. Required if the Error Code >= 100, may be omitted or set to "
        },
        "characteristic": {
          "type": "array",
          "items": {
            "type": "object",
            "description": "A characteristic of the fault; these have both a name and a value.",
            "properties": {
              "name": {
                "type": "string"
              },
              "value": {
                "type": "string"
              }
            },
            "required": [
              "name",
              "value"
            ]
          }
        },
        "failure": {
          "type": "array",
          "items": {
            "type": "object",
            "description": "A component that describes individual failures within the fault. This component is used to support multiple causes to the fault; i.e. where the fault is generated from one or more API calls or one or more validation failures.",
            "properties": {
              "code": {
                "type": "string",
                "description": "The code identifying the specific failure."
              },
              "text": {
                "type": "string",
                "description": "The human-readable text of the specific failure."
              },
              "dataRef": {
                "type": "object",
                "description": "A reference to the specific field or component within the VBO that generated the failure.",
                "properties": {
                  "pathName": {
                    "type": "string",
                    "description": "The pseudo-JSON Path reference to the specific field or component within the VBO."
                  },
                  "pathValueText": {
                    "type": "string",
                    "description": "The value of the field referenced by the Path Name."
                  }
                }
              },
              "Severity": {
                "type": "string",
                "description": "The degree of severity and impact the fault has inccured, provides an indication of the level that may be used to trigger different behaviours in the consumer. Required if the Error Code >= 100, may be omitted or set to Information if the object is being used to indicate success."
              }
            }
          }
        }
      },
      "required": [
        "timestamp"
      ]
    },
    "query": {
      "properties": {
        "queries": {
          "type": "array",
          "description": "",
          "minItems": 1,
          "items": {
            "type": "object",
            "properties": {
              "query": {
                "type": "string",
                "description": "An explanation about the purpose of this instance.",
                "default": "A=1 | A=2 | A=3"
              },
              "operator": {
                "type": "string",
                "enum": [
                  "OR",
                  "AND"
                ]
              }
            }
          }
        },
        "queryOptions": {
          "type": "object",
          "properties": {
            "fields": {
              "description": "The query parameter used to specify the fields for a partial response.",
              "type": "string"
            },
            "filter": {
              "type": "string"
            },
            "pagination": {
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "count": {
                  "type": "number"
                },
                "limit": {
                  "type": "number"
                }
              }
            },
            "sorting": {
              "type": "string"
            }
          },
          "required": [
            "pagination",
            "sorting"
          ]
        }
      },
      "required": [
        "queryOptions",
        "queries"
      ]
    },
    "hub": {
      "properties": {
        "id": {
          "type": "string",
          "description": "The unique identifier of the hub."
        },
        "callback": {
          "type": "string",
          "description": "The URI for the callback."
        },
        "query": {
          "type": "string",
          "description": "The query expression may be used to filter specific event types and/or any content of the event."
        },
        "fields": {
          "type": "string",
          "description": "An attribute selector directive used to specify the attributes to be returned as part of a partial representation of a resource"
        }
      }
    },
    "listener": {
      "properties": {
        "eventType": {
          "type": "string",
          "description": "The type associated with the event."
        },
        "eventTime": {
          "type": "string",
          "description": "The time event occurs."
        },
        "eventId": {
          "type": "string",
          "description": "The unique identifier associated with the event."
        },
        "event": {
          "type": "object",
          "description": "The event body.",
          "properties": {}
        }
      }
    },
    "salesOrderVBO": {
      "properties": {
        "_links": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "name": {
                "title": "Name",
                "description": "Name of a resource, link, action, etc.",
                "type": "string"
              },
              "href": {
                "title": "HREF",
                "description": "A hyperlink URL",
                "type": "string"
              },
              "templated": {
                "title": "Is URI Templated?",
                "description": "Specifies whether or not a link is using URI templates",
                "type": "boolean"
              },
              "type": {
                "title": "Media Type",
                "description": "A media type",
                "type": "string"
              },
              "deprecation": {
                "title": "Is URI Deprecated?",
                "description": "Specifies whether or not a link is deprecated",
                "type": "boolean"
              }
            }
          }
        },
        "id": {
          "type": "array",
          "description": " The set of Identifiers for the VBO or component. These should be used to uniquely identifier instances of the business object or component.",
          "minItems": 1,
          "items": {
            "$ref": "#/definitions/IDType"
          }
        },
        "name": {
          "type": "string",
          "description": "The name of the instance of a business object or component."
        },
        "desc": {
          "type": "string",
          "description": "A free text description of a business object or component."
        },
        "type": {
          "type": "string",
          "description": "A classification of the business object or component. This identifies the subType of the instance of object or component."
        },
        "category": {
          "type": "array",
          "description": " The set of classifications for the business object or component.",
          "minItems": 1,
          "items": {
            "type": "object",
            "description": " A classification applied to the business object or component. More than one classification scheme can be applied using the @listName attribute to identify the type of code list being used. The classification scheme can be used to group instances of the object or component.",
            "properties": {
              "value": {
                "type": "string",
                "description": "The value of the field."
              },
              "listHierarchyId": {
                "type": "string",
                "description": " An agency that maintains one or more lists of codes."
              },
              "listName": {
                "type": "string",
                "description": "The name of a list of codes. The listName of the Type Code"
              }
            },
            "required": [
              "value"
            ]
          }
        },
        "status": {
          "type": "string",
          "description": "The lifecycle state of the business object or component. This field is used to track the specific state an instance of an object or component is in; e.g. the Customer Bill is Active or the Customer Request has been Cancelled."
        },
        "version": {
          "type": "string",
          "description": "A field that identifies the specific version of an instance of a business object or component. This field should be used in support of multiAgent environments to control the concurrency (locking) of the instance."
        },
        "created": {
          "$ref": "#/definitions/dateTimeType"
        },
        "createdBy": {
          "$ref": "#/definitions/IDType"
        },
        "lastModified": {
          "$ref": "#/definitions/dateTimeType"
        },
        "lastModifiedBy": {
          "$ref": "#/definitions/IDType"
        },
        "validityPeriod": {
          "$ref": "#/definitions/validityPeriodType"
        },
        "lastActivityDate": {
          "$ref": "#/definitions/dateTimeType"
        },
        "priority": {
          "type": "string",
          "description": "The priority that should be given to the Sales Order. \\n For example procurement of a mobile phone may be given high priority sothat it can be fulfilled in nearRealTime"
        },
        "approvalDateTime": {
          "$ref": "#/definitions/dateTimeType"
        },
        "activationDateTime": {
          "$ref": "#/definitions/dateTimeType"
        },
        "deletionDateTime": {
          "$ref": "#/definitions/dateTimeType"
        },
        "expiryDateTime": {
          "$ref": "#/definitions/dateTimeType"
        },
        "completedDateTime": {
          "$ref": "#/definitions/dateTimeType"
        },
        "orderDateTime": {
          "$ref": "#/definitions/dateTimeType"
        },
        "pricingDateTime": {
          "$ref": "#/definitions/dateTimeType"
        },
        "scheduledDeliveryDateTime": {
          "$ref": "#/definitions/dateTimeType"
        },
        "requestedDeliveryDateTime": {
          "$ref": "#/definitions/dateTimeType"
        },
        "promisedDeliveryDateTime": {
          "$ref": "#/definitions/dateTimeType"
        },
        "requestedShipDateTime": {
          "$ref": "#/definitions/dateTimeType"
        },
        "serviceRequiredDateTime": {
          "$ref": "#/definitions/dateTimeType"
        },
        "savedIndicator": {
          "$ref": "#/definitions/indicatorType"
        },
        "customerAgreedToPayDepositIndicator": {
          "$ref": "#/definitions/indicatorType"
        },
        "shipmentInstruction": {
          "type": "string",
          "description": "These instructions are for external shipping personnel. For example; you might wish to warn your carriers of a fragile shipment or your customer's receiving hours"
        },
        "confirmationChecksApproved": {
          "$ref": "#/definitions/indicatorType"
        },
        "eligibilityCheck": {
          "$ref": "#/definitions/indicatorType"
        },
        "statusReason": {
          "properties": {
            "reasonCode": {
              "type": "string",
              "description": "The code describing the status reason"
            },
            "reasonText": {
              "type": "string",
              "description": "The reason code describing the reason behind the status change"
            }
          },
          "description": "Provides description for the current status value",
          "type": "object"
        },
        "relatedSalesOrder": {
          "type": "array",
          "minItems": 1,
          "items": {
            "$ref": "#/definitions/salesOrderVBORelatedSalesOrder"
          }
        },
        "relatedEntity": {
          "type": "array",
          "description": "The set of related entities associated the Sales Order.",
          "minItems": 1,
          "items": {
            "$ref": "#/definitions/salesOrderVBORelatedEntity"
          }
        },
        "relatedParty": {
          "type": "array",
          "description": "A reference to the Parties associated with the Sales Order.",
          "minItems": 1,
          "items": {
            "$ref": "#/definitions/salesOrderVBORelatedParty"
          }
        },
        "billToContactPoint": {
          "type": "array",
          "minItems": 1,
          "items": {
            "properties": {
              "id": {
                "$ref": "#/definitions/IDType"
              },
              "preferred": {
                "$ref": "#/definitions/indicatorType"
              },
              "email": {
                "$ref": "#/definitions/emailType"
              },
              "telephone": {
                "$ref": "#/definitions/telephoneType"
              },
              "postal": {
                "$ref": "#/definitions/postalType"
              },
              "sms": {
                "$ref": "#/definitions/smsType"
              },
              "fax": {
                "$ref": "#/definitions/faxType"
              },
              "PushNotification": {
                "properties": {
                  "appId": {
                    "$ref": "#/definitions/IDType"
                  }
                },
                "description": "Push Notification as contact point",
                "type": "object"
              },
              "geographicLocation": {
                "properties": {
                  "altitudeMeasure": {
                    "$ref": "#/definitions/measureType"
                  },
                  "latitudeMeasure": {
                    "$ref": "#/definitions/measureType"
                  },
                  "longitudeMeasure": {
                    "$ref": "#/definitions/measureType"
                  },
                  "latitudeDirectionCode": {
                    "type": "string",
                    "description": "A character string (letters, figures, or symbols) that for brevity and/or languange independence may be used to represent or replace a definitive value or text of an attribute together with relevant supplementary information. Code string Should not be used if the character string identifies an instance of an object class or an object in the real world, in which case the Identifier. Type should be used."
                  },
                  "longitudeDirectionCode": {
                    "type": "string",
                    "description": "A character string (letters, figures, or symbols) that for brevity and/or languange independence may be used to represent or replace a definitive value or text of an attribute together with relevant supplementary information. Code string Should not be used if the character string identifies an instance of an object class or an object in the real world, in which case the Identifier. Type should be used."
                  },
                  "systemId": {
                    "$ref": "#/definitions/IDType"
                  }
                },
                "type": "object"
              }
            },
            "type": "object"
          }
        },
        "customerAccount": {
          "$ref": "#/definitions/salesOrderVBOCustomerAccount"
        },
        "customerAgreement": {
          "$ref": "#/definitions/salesOrderVBOCustomerAgreement"
        },
        "channel": {
          "properties": {
            "id": {
              "type": "object",
              "description": "A character string to identify and distinguish uniquely, one instance of an object in an identification scheme from all other objects in the same scheme together with relevant supplementary information.Identifier string",
              "properties": {
                "value": {
                  "type": "string",
                  "description": "The value of the field."
                },
                "schemeID": {
                  "type": "string"
                },
                "schemeName": {
                  "type": "string"
                },
                "schemeAgencyName": {
                  "type": "string"
                }
              },
              "required": [
                "value"
              ]
            },
            "extraId": {
              "type": "array",
              "description": " The set of Identifiers for the VBO or component. These should be used to uniquely identifier instances of the business object or component.",
              "minItems": 1,
              "items": {
                "type": "object",
                "description": "A character string to identify and distinguish uniquely, one instance of an object in an identification scheme from all other objects in the same scheme together with relevant supplementary information.Identifier string",
                "properties": {
                  "value": {
                    "type": "string",
                    "description": "The value of the field."
                  },
                  "schemeID": {
                    "type": "string"
                  },
                  "schemeName": {
                    "type": "string"
                  },
                  "schemeAgencyName": {
                    "type": "string"
                  }
                },
                "required": [
                  "value"
                ]
              }
            },
            "href": {
              "type": "string",
              "description": "URI, where to query or perform actions on the component."
            },
            "name": {
              "type": "string",
              "description": " The name of the instance of a business object or component."
            },
            "category": {
              "type": "array",
              "description": " The set of classifications for the business object or component.",
              "minItems": 1,
              "items": {
                "type": "object",
                "description": " A classification applied to the business object or component. More than one classification scheme can be applied using the @listName attribute to identify the type of code list being used. The classification scheme can be used to group instances of the object or component.",
                "properties": {
                  "value": {
                    "type": "string",
                    "description": "The value of the field."
                  },
                  "listName": {
                    "type": "string",
                    "description": "The name of a list of codes. The listName of the Type Code"
                  }
                },
                "required": [
                  "value"
                ]
              }
            },
            "_links": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/_linksItems"
              }
            }
          },
          "type": "object"
        },
        "fulfilmentOrder": {
          "type": "array",
          "minItems": 1,
          "description": "A Collection of Fulfilment Order associated with the sales order",
          "items": {
            "$ref": "#/definitions/salesOrderVBOFulfilmentOrder"
          }
        },
        "salesQuote": {
          "$ref": "#/definitions/salesOrderVBOSalesQuote"
        },
        "shipToContactPoint": {
          "properties": {
            "id": {
              "$ref": "#/definitions/IDType"
            },
            "preferred": {
              "$ref": "#/definitions/indicatorType"
            },
            "email": {
              "$ref": "#/definitions/emailType"
            },
            "telephone": {
              "$ref": "#/definitions/telephoneType"
            },
            "postal": {
              "$ref": "#/definitions/postalType"
            },
            "sms": {
              "$ref": "#/definitions/smsType"
            },
            "fax": {
              "$ref": "#/definitions/faxType"
            },
            "PushNotification": {
              "properties": {
                "appId": {
                  "$ref": "#/definitions/IDType"
                }
              },
              "description": "Push Notification as contact point",
              "type": "object"
            },
            "geographicLocation": {
              "properties": {
                "altitudeMeasure": {
                  "$ref": "#/definitions/measureType"
                },
                "latitudeMeasure": {
                  "$ref": "#/definitions/measureType"
                },
                "longitudeMeasure": {
                  "$ref": "#/definitions/measureType"
                },
                "latitudeDirectionCode": {
                  "type": "string",
                  "description": "A character string (letters, figures, or symbols) that for brevity and/or languange independence may be used to represent or replace a definitive value or text of an attribute together with relevant supplementary information. Code string Should not be used if the character string identifies an instance of an object class or an object in the real world, in which case the Identifier. Type should be used."
                },
                "longitudeDirectionCode": {
                  "type": "string",
                  "description": "A character string (letters, figures, or symbols) that for brevity and/or languange independence may be used to represent or replace a definitive value or text of an attribute together with relevant supplementary information. Code string Should not be used if the character string identifies an instance of an object class or an object in the real world, in which case the Identifier. Type should be used."
                },
                "systemId": {
                  "$ref": "#/definitions/measureType"
                }
              },
              "type": "object"
            }
          },
          "description": "Ship to contact points",
          "type": "object"
        },
        "totalPrice": {
          "properties": {
            "type": {
              "type": "string",
              "description": "The type of charge. For example a one time charge; a recurring charge or a charge based on usage."
            },
            "text": {
              "type": "string",
              "description": "Texts that describe the price for different purposes"
            },
            "frequencyCode": {
              "$ref": "#/definitions/codeType"
            },
            "originalPrice": {
              "$ref": "#/definitions/amountType"
            },
            "finalPrice": {
              "$ref": "#/definitions/amountType"
            }
          },
          "description": "The total price of the Sales Order charged to the customer",
          "type": "object"
        },
        "lineItem": {
          "type": "array",
          "description": "A Collection of Line Items associated withe the Sales Order.",
          "items": {
            "properties": {
              "id": {
                "type": "array",
                "description": "The set of Identifiers for the VBO or component. These should be used to uniquely identifier instances of the business object or component.",
                "items": {
                  "$ref": "#/definitions/IDType"
                }
              },
              "name": {
                "type": "string",
                "description": "The name of the instance of a business object or component."
              },
              "desc": {
                "type": "string",
                "description": "A free text description of a business object or component."
              },
              "type": {
                "type": "string",
                "description": "A classification of the business object or component. This identifies the subType of the instance of object or component."
              },
              "category": {
                "type": "array",
                "description": " The set of classifications for the business object or component.",
                "minItems": 1,
                "items": {
                  "type": "object",
                  "description": " A classification applied to the business object or component. More than one classification scheme can be applied using the @listName attribute to identify the type of code list being used. The classification scheme can be used to group instances of the object or component.",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "The value of the field."
                    },
                    "listHierarchyId": {
                      "type": "string",
                      "description": " An agency that maintains one or more lists of codes."
                    },
                    "listName": {
                      "type": "string",
                      "description": "The name of a list of codes. The listName of the Type Code"
                    }
                  },
                  "required": [
                    "value"
                  ]
                }
              },
              "status": {
                "type": "string",
                "description": "The lifecycle state of the business object or component. This field is used to track the specific state an instance of an object or component is in; e.g. the Customer Bill is Active or the Customer Request has been Cancelled."
              },
              "action": {
                "type": "string",
                "description": "Action to be performed on the Sales Order Line Item; Can be add / modify / no_change / delete."
              },
              "priority": {
                "type": "string",
                "description": "The priority that should be given to the Sales Order. \\n For example procurement of a mobile phone may be given high priority sothat it can be fulfilled in nearRealTime"
              },
              "approvalDateTime": {
                "$ref": "#/definitions/dateTimeType"
              },
              "activationDateTime": {
                "$ref": "#/definitions/dateTimeType"
              },
              "deletionDateTime": {
                "$ref": "#/definitions/dateTimeType"
              },
              "expiryDateTime": {
                "$ref": "#/definitions/dateTimeType"
              },
              "completedDateTime": {
                "$ref": "#/definitions/dateTimeType"
              },
              "orderDateTime": {
                "$ref": "#/definitions/dateTimeType"
              },
              "pricingDateTime": {
                "$ref": "#/definitions/dateTimeType"
              },
              "scheduledDeliveryDateTime": {
                "$ref": "#/definitions/dateTimeType"
              },
              "requestedDeliveryDateTime": {
                "$ref": "#/definitions/dateTimeType"
              },
              "promisedDeliveryDateTime": {
                "$ref": "#/definitions/dateTimeType"
              },
              "requestedShipDateTime": {
                "$ref": "#/definitions/dateTimeType"
              },
              "serviceRequiredDateTime": {
                "$ref": "#/definitions/dateTimeType"
              },
              "savedIndicator": {
                "$ref": "#/definitions/indicatorType"
              },
              "customerAgreedToPayDepositIndicator": {
                "$ref": "#/definitions/indicatorType"
              },
              "shipmentInstruction": {
                "type": "string",
                "description": "These instructions are for external shipping personnel. For example; you might wish to warn your carriers of a fragile shipment or your customer's receiving hours"
              },
              "substitutionAllowedIndicator": {
                "$ref": "#/definitions/indicatorType"
              },
              "quantity": {
                "$ref": "#/definitions/quantityType"
              },
              "relatedLineItem": {
                "type": "array",
                "minItems": 1,
                "items": {
                  "properties": {
                    "id": {
                      "type": "object",
                      "description": "A character string to identify and distinguish uniquely, one instance of an object in an identification scheme from all other objects in the same scheme together with relevant supplementary information.Identifier string",
                      "properties": {
                        "value": {
                          "type": "string",
                          "description": "The value of the field."
                        },
                        "schemeID": {
                          "type": "string"
                        },
                        "schemeName": {
                          "type": "string"
                        },
                        "schemeAgencyName": {
                          "type": "string"
                        }
                      },
                      "required": [
[...]
